/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}



/*ChooseAccountType.html*/
body{
	zoom:100%;
}


#ChooseAccountType-Body{
	overflow: hidden;
	padding: 0;
	margin: 0;
	display: grid;

	width: 100%;
	height: 100%;
	background-color:rgb(52,42,41);

  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;


}

#ChooseAccountTypeBackground{
	width: 100vw;
	height: 100vh;
	background-color: rgb(255 255 255);
}

#ChooseAccountTypeBackground1{
	width: 100vw;
	height: 100vh;
	z-index: 3;
	position: fixed;
	border-radius: 0 0 0 100%;
	margin-left: 30%;
	margin-top: 0;
	background-image: linear-gradient(to right, #66eae0, #6455cb, #56e4c8, #37a1d7);
	box-shadow: 0 4px 15px 0 rgb(116 79 168 / 75%);
}


#ChooseAccountTypeBackground2{
	width: 75vw;
	height: 60vh;
	z-index:4;
	position: fixed;
	background-color: rgb(255 255 255);
	border-radius: 0 100% 0 0;
	margin-top: 45vh;
	
	background-size: contain;
}

#ChooseAccountTypeBackground3{
	width: 50vw;
	height: 500px;
	z-index:1;
	position: fixed;
	background-color:rgb(247, 42, 10);
	background-color:rgb(43, 34, 33);

	
	
}

#ChooseAccountTypeBackground4{
	width: 75vw;
	height: 60vh;
	background-color: white;
	
	background-size: contain;
	z-index: 2;
	position: fixed;
}




#ChooseAccountType-Container{
	position: absolute;
	z-index: 6;
	width: 60vw;
	height: 580px;
	background-color: white;
	align-self: center;
	align-items: center;
	margin-left: 18%;
	margin-top: 0%;
	padding:0;
	overflow: hidden;
	background: linear-gradient(white, white) padding-box,
              linear-gradient(to left, #98F78A, #6590d4) border-box;
	border-radius: 1em;
	border: 4px solid transparent;
	box-shadow: 0 4px 15px 0 rgb(95 79 168 / 75%);
}

#microQuestLogo{
	z-index: 9;
	position: absolute;
	width: 200px;
	height: 100px;
	right: 50px;
	top:10px
}

#SelectAccountType{
	font-family: arial;
	font-size: xx-large;
	font-weight: bold;
	margin: 20px;
}

.ChooseAccountType-Option{
	height: 357px;
	width: 353px;
	display: inline-block;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font: Arial;
	letter-spacing: -1px;
	padding: 15px;
	filter: grayscale(100%);
	margin: 0;
}

.ChooseAccountType-Option:hover{

filter: grayscale(0%);

background-color: rgb(123 188 180 / 51%);
}


#Responder{margin: 10px;margin-top: 0;}

#Requestor{
	margin: 10px;
	margin-top: 0;
}

.Option-Image{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100%;
	border: 6px solid rgb(57 130 142);
	cursor: pointer;
}


#ChooseAccountType-Footer{
	background-color: rgb(173 170 169 / 34%);
	position: absolute;
	width: 100%;
	margin: 0;
	z-index: 0;
	height: 80px;
	bottom: 0;
}

.ChooseAccountType-Button{
	float: right;
	margin:5px;
	height: 40px;
	width: 100px;
	margin-right: 10px;
	margin-top: 20px;
	background-color: transparent;
	border: 0;
	font-size: large;
	font-weight: bolder;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font: Arial;
}


.ChooseAccountType-Button:hover{
	color: rgb(255, 196, 1);
}


#Next{

margin-right: 80px;

background-color: rgb(115 177 175);

color: white;
}

#Next:disabled{
	filter: grayscale(100%);
	cursor: not-allowed;
}

#Next:hover{
	background-color: rgb(136, 75, 38);
	color: rgb(255, 196, 1);
}

.CheckMark{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 33px;
	right: 100px;
	background-color: #80c7ac;
	border-radius: 100%;
	opacity: 0;
}


#ResponderCheck{
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}


#ResponderCheck + #ResponderCheckMark{
	cursor: pointer;
}



#ResponderCheck:checked + #ResponderCheckMark {
	
}


#RequestorCheck{
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}


#RequestorCheck + #RequestorCheckMark{
	cursor: pointer;
}

#RequestorCheck:checked + #RequestorCheckMark {

}

#Responder:active{
	filter: grayscale(0);
}

#Requestor:active{
	
	filter: grayscale(0);
	
}

@media only screen and (max-width: 768px){
	#microQuestLogo{
		width: 200px;
		height: 75px;
		top: 0;
		
	}
	#SelectAccountType{
		font-family: brush script mt kursiv;
		font-size: medium;
		margin: 20px;
	}
	.ChooseAccountType-Option{
		width: 100%;
		margin: 0;
		
	}
	#Responder, #Requestor{
		margin: 0;
	}
	#ChooseAccountType-Container{
		z-index: 6;
		width: 100%;
		height: 600px;
		background-color: white;
		align-self: center;
		align-items: center;
		 margin: 0;
		padding: 0;
		overflow: hidden;
		height: 80%;
		font-size:12px;
		
	}
	.Option-Image{
		width:100px;
		height: 100px;
	}
	#ChooseAccountType-Footer{
		height:min-content ;
		
	}
	.ChooseAccountType-Button{
		height:30px;
		font-size:medium;
		margin:10px;
	}
}

@media (max-width: 575px) {
#microQuestLogo{
	width: 200px;
	height: 75px;
	top: 0;
	
}
#SelectAccountType{
	font-family: brush script mt kursiv;
	font-size: medium;
	margin: 20px;
}
.ChooseAccountType-Option{
	width: 100%;
	margin: 0;
	
}
#Responder, #Requestor{
	margin: 0;
}
#ChooseAccountType-Container{
	z-index: 6;
	width: 100%;
	height: 600px;
	background-color: white;
	align-self: center;
	align-items: center;
	 margin: 0;
	padding: 0;
	overflow: hidden;
	height: 80%;
	font-size:12px;
	
}
.Option-Image{
	width:100px;
	height: 100px;
}
#ChooseAccountType-Footer{
	height:min-content ;
	
}
.ChooseAccountType-Button{
	height:30px;
	font-size:medium;
	margin:10px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px){

}

@media only screen and (min-width: 599px) and (max-width: 767px){

}

@media only screen and (min-width: 280px) and (max-width: 599px){

}

@media (min-width: 992px) and (max-width: 1199px){

}
@media (min-width: 768px) and (max-width: 991px){
	#ChooseAccountType-Container{
		height: 500px;
		width:100%;
		margin: auto;
		margin-top: 10%;
	}
	.Option-Image{
		width: 150px;
		height: 150px;
	}
}
@media (min-width: 576px) and (max-width: 767px){

}
@media (max-width: 575px){

}