/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}





/*Responder_RequestBoard*/
body{

	zoom:80%;


}





/*new*/






#LeaderBoardContainerBack{
	width: 100%;
	margin: auto;
	margin-top: 120px;
	height: fit-content;
	min-height: 900px;
	display: block;
	text-align: center;
	background-color: white;
}

#LeaderBoardTable{
	width: 70%;
	margin: 40px 0 0 25%;
	padding: none;
	height: fit-content;
	min-height: 600px;
	text-align: center;
	background-color: white;
	border: 2px solid rgba(128, 128, 128, 0.36);
	table-layout: fixed;
	text-align: center;
	border-spacing: 0;
}

#LeaderBoardContent{
	width: 100%;
	margin: auto;
	border-spacing: 0px;
	border-collapse: collapse;
}

#LeaderBoardHead{
	margin: 0;
	border: 1px solid black;
	font-size: xx-large;
	font-family: arial;
	font-weight: bold;
	background: #adadad73;
}

.leaderboardTR{
	width: 100%;
	margin: auto;
	height: 10px;
	background-color: orangered;
	border-bottom: 1px solid black;
	/* border-spacing: 0px; */
	/* border-collapse: collapse; */
}

.leaderBoardUserPhoto{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 100%;
	object-fit: contain;
}

.grid-container {
  display: grid;
  background-color: #acacac78;
  padding: 10px;
  width: 20%;
  position: absolute;
  margin: 193px 0 0 20px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-item:hover{
	color: orangered;

}

td.rankTR {
    font-size: xx-large;
    border-bottom: 1px solid black;
}

td.rating {
    font-size: xx-large;
    border-bottom: solid 1px black;
}

td.responderInfo {
    border-bottom: solid 1px black;
}