/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}





/*Responder_RequestBoard*/





/*new*/






#LeaderBoardContainerBack{
	width: 100%;
	margin: auto;
	margin-top: 130px;
	height: fit-content;
	/* min-height: 900px; */
	display: inline-flex;
	text-align: center;
	/* background-color: white; */
	/* display: flow-root; */
}

#LeaderBoardTable{
	width: 80%;
	/* margin: 40px 0 0 15%; */
	padding: none;
	height: fit-content;
	/* min-height: 600px; */
	text-align: center;
	/* background-color: white; */
	border-top: 2px solid rgb(0 0 0);
	table-layout: fixed;
	text-align: center;
	border-spacing: 0;
	margin: auto;
	margin-top: 0;
}

#LeaderBoardContent{
	width: 100%;
	margin: auto;
	border-spacing: 0px;
	border-collapse: collapse;
}

#LeaderBoardHead{
	margin: 0;
	border: 2px solid white;
	font-size: 50px;
	font-family: arial;
	font-weight: bold;
	background: orangered;
	color: white;
	/* padding: 20px; */
}

.leaderboardTR{
	width: 100%;
	margin: auto;
	height: 150px;
	background-color: #ffeadc78;
	border-bottom: 1px solid black;
	/* border-spacing: 0px; */
	/* border-collapse: collapse; */
	/* padding: 20px; */
}

.leaderBoardUserPhoto{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 100%;
	object-fit: contain;
}

.grid-container {
  display: grid;
  /* background-color: #acacac78; */
  padding: 10px;
  width: 10%;
  /* position: absolute; */
  /* margin: 193px 0 0 20px; */
  /* grid-auto-columns: auto; */
  /* grid-column: auto; */
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 20px;
  font-size: large;
  text-align: left;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid grey;
}

.grid-item:hover{
	color: orangered;

}

td.rankTR {
    font-size: xxx-large;
    color: #3a4b9a;
    border-bottom: 1px solid black;
    /* border-right: 1px solid black; */
    /* border-left: 1px solid; */
    font-family: fantasy;
    width: 10%;
    /* padding: 10px; */
}

td.rating {
    font-size: xx-large;
    border-bottom: solid 1px black;
}

td.responderInfo {
    border-bottom: solid 1px black;
    font-size: xxx-large;
    margin: auto;
    /* height: 100; */
    color: black;
}

@media (min-width: 220px) and (max-width:555px){
	#LeaderBoardContainerBack{
		zoom: 80%;
		min-height: 800px;
	}
	.grid-container{
		zoom: 70%;
		/* margin-top: 210px; */
	}
	#LeaderBoardTable{
		zoom: 70%;
		margin-top: 0;
	}
	#LeaderBoardHead{
		zoom: 70%;
	}
	#LeaderBoardContent{
		zoom: 70%;
	}
}
.responderInfo a {
    display: grid;
    /* display: flex; */
    grid-template-columns: 1fr 4fr;
    align-items: center;
    grid-column-gap: 30px;
    color: black;
    font-family: monospace;
    text-align: left;
}