body {
  font-family: "Roboto", sans-serif;
}

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; 
}

a:hover {
    text-decoration: none !important; 
}


.content {
  padding: 7rem 0; 
}

h2 {
  font-size: 20px; 
}


.half, .half .container  > .row {
  height: 100vh;
  min-height: 650px;
}

@media (max-width: 991.98px) {
  .half  {
    height: 400px; 
  }
    
}

.half .contents {
  background: #f6f7fc; 
}

.half .contents, .half .bg {
  width: 50%; 
}

@media (max-width: 1199.98px) {
   
    .half .contents, .half   {
      width: 100%;
    }
    .half input.btn.btn-block.btn-primary{
      width: 40%;
      margin-left: 57%;
    }
}

  .half .contents .Form-Input, .half .bg .Form-Input {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff;
    border-bottom: solid 1.5px  #1c91b2;
    color: #001a00;
  }


.half .contents .Form-Input:active, .half .contents .Form-Input:focus, .half .bg .Form-Input:active, .half .bg .Form-Input:focus {
      outline: none;
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); 
}

.half .bg {
  background-size: contain;
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  
}

.half a {
  color: #888;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

.half .register_here {
  position: relative;
  top: 2px;
  font-size: 14px; 
}

.register{
  text-decoration: underline;
}

/*STYLE NG BUTTON*/
input.btn.btn-block.btn-primary{
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 56px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
} /*END*/

/* INPUT TEXT TYPE, PASSWORD tsaka USERNAME*/
input.btn.btn-block.btn-primary:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
input.btn.btn-block.btn-primary:focus{
  outline: none;
}
input#username:hover, input#password:hover{
  -moz-transition: all .4s ease-in-out;
  transition: all 0.3s (.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #076a86 4%);
} /*END */