/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}



/*Responder_RequestBoard*/
#RequestboardBackground{
	width: 100%;
	position: absolute;
	overflow: hidden;
	object-fit: cover;
	height: 100%;
	opacity: 99%;

}

#RequestBoardContainer{
	/* position: absolute; */
	width: 100%;
	height: 100%;
	margin-top: 6%;
	/* margin-left: 5px; */
	background-color: rgb(243, 240, 240);
}

#RequestBoardTitle{
	font-family: arial;
	color: #070707;
	font-weight: bold;
	padding: 0px;
	margin-bottom: 20px;
}

#RequestsContainer{
	/* margin: auto; */
	/* background-color: white; */
	/* width: 100%; */
	/* height: 100%; */
	/* overflow-y: scroll; */
	/* border: 5px solid rgb(226 218 212); */
	/* min-height: 1000px; */
	/* max-height: 100%; */
	/* padding: 0; */
}

#RequestsContainer::-webkit-scrollbar{
	width: 0.5px;
	z-index: 1;
}


#RequestsContainer-Controls{

width: 100%;

height: 70px;

background-color: rgba(119, 65, 32, 0.644);

display: inline-block;

overflow: hidden;

display: none;
}

#RequestsContainer-ControlItems{

list-style-type: none;

width: auto;

color: white;

font-family: Arial, Helvetica, sans-serif;

vertical-align: text-top;

display: none;
}

#RequestsContainer-ControlItems a{
	color: white;
	text-decoration: none;
}

#RequestsContainer-ControlItems td{


	font-weight: bolder;
	
} 
.RequestsContainer-ControlItem{
	width: fit-content;
	display: inline-block;
	margin-right: 100px;
	font-size: large;
	cursor: pointer;
}

.RequestsContainer-ControlItem span{
	margin:auto;
	vertical-align: top;
	text-align: center;


}

.RequestsContainer-ControlItem:hover{
	color:rgb(252, 174, 6);
}

#RequestsCategoryContainer{
	float: right;
	margin: 10px;
	width: fit-content;


}

#RequestsSearchContainer{
	float: right;
	margin: 10px;
	width: fit-content;


}



#OfferaServiceButton{
	width: fit-content;
	
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
}

#OfferaServiceButton:hover{

	background-color: rgb(148, 111, 63);


}

.requestcard-footer{
	width: 100%;
	margin-bottom: 0;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 60px;
}

.requestCategory{
	margin: auto;
}

.RequestsContainer-ControlItemIcon{
	width: 40px;
	height: 40px;
	margin: 0;
	filter: brightness(100%);
	filter: invert(0.3);
}

#RequestsContainer-Content{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;padding: 20px 0 20px 0;/* align-content: center; *//* overflow: hidden; *//* grid-column-gap: 50px; */grid-row-gap: 50px;overflow-y: scroll;width: 80%;height: 800px;padding: 20px 20 0 2px;margin: 0 0 0 20%;background-color: #ffffff9e;/* z-index: 99; */}

.requestCard{
	border: 5px solid rgb(63, 50, 48);
	width: fit-content;
	height: 260px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: auto;
	overflow:hidden;
	
}



.RequestorProfileDiv{
	display: inline-block;
	width: 100%;
	height: fit-content;
}

.requestorUsername{
	text-decoration: none;
	transition-delay: 2s;
	
}
.userPhotoPic{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: 3px solid rgb(63, 50, 48);
	margin: 0;
	object-fit: cover;
	
}

.RequestInfoList{
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	font-size:small;
	font-weight: lighter;
	text-align:left;

}
.requestorLocation{
	font-size: small;
}
.viewRequest{
	width: 90px;
	margin: 10px;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-weight: lighter;
}

.viewRequest:hover{
	background-color: rgb(148, 111, 63);
}

.MessageButton{
	width: 90px;
	margin: 10px;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
}

.MessageButton:hover{

	background-color: rgb(148, 111, 63);


}

.requestcard-footer{
	width: 100%;
	margin-bottom: 0;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 60px;
}

#Responder_RequestBoardBackground{
		/*background-image: url("../img/3490.png");*/

	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	background-origin: border-box;


}

.PageIndicator{
	color: rgb(34, 27, 26);
	font-weight: bold;
}

#RequestBoardSearchButton{
	width:fit-content;
	background-color: rgb(63, 50, 48);
	color: white;
	margin: 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
	height: 30px;
	grid-area: button;
}

#RequestBoardSearchBox{
	width:fit-content;
	background-color: rgb(255, 255, 255);
	
	padding: 5px;
	border: none;
	border-radius: 5px;
	margin: 0;
	font-weight: lighter;
	height: 30px;
	grid-area: search;
}

#RequestsSearchContainer{

}

/*Requestor_RequestBoard.html*/

#Requestor_RequestBoardBackground{
	/* background-image: url("../img/3490.png"); */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	background-origin: border-box;

}

.UpdateButton{	
	width: fit-content;
	margin: auto;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.ReviewButton{
	width: fit-content;
	margin: auto;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#CreateRequestButton{
	width: fit-content;
	
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#CreateRequestButton:disabled{
	filter: grayscale(100%);
	cursor: not-allowed;
}

#CreateRequestButton:hover{
	background-color: rgb(136, 75, 38);
	color: rgb(255, 196, 1);
}


#UpdateForm table{
	margin: auto;
    text-align: justify;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80%;
    border-spacing: 20px;
	
}

.UpdateRequests-Input{
	border: 2px solid rgb(94, 74, 71);
	border-radius: 5px;
	z-index: 20;
	
}

.UpdateRequests-Input[type="Text"]{
	height: 20px;
	width: 200px;
	z-index: 20;

}

.UpdateRequests-Input[type="datetime-local"]{
	height: 20px;
	width: 200px;
	z-index: 20;

}

.UpdateRequests-Input[type="number"]{
	height: 20px;
	width: 200px;
	z-index: 20;

}



#UpdateControls{
	text-align: right;
}

.UpdateControls-Button{
	width: 90px;
	margin: auto;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.UpdateControls-Button:hover{
	background-color: rgb(148, 111, 63);
}



#ViewRequest-Form table{
	margin: auto;
    text-align: justify;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 80%;
    border-spacing: 20px;
	
}

.ViewControls-Button{
	width: 90px;
    margin: auto;
    background-color: rgb(63, 50, 48);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.UpdateControls-Button:hover, .ViewControls-Button:hover{
	background-color: rgb(148, 111, 63);
}

/*new*/



*, *:before, *:after {
	box-sizing: border-box;
	}
  
  
  .wrapper {
	/* padding-top: 40px; */
	/* padding-bottom: 40px; */
	/* cursor: pointer; */
	MARGIN: auto;
	}
  .wrapper:focus {
	  outline: 0;

  }
  
  
  
  .request-card {
	background: white;
	width: 300px;
	display: inline-block;
	margin: auto;
	border-radius: 14px;
	position: relative;
	text-align: center;
	box-shadow: 0px 0px 2px 0px black;
	z-index: 5;
	cursor: pointer;
	}

  .request-card:hover {
	/* background: #a7846f; */
	width: 300px;
	display: inline-block;
	margin: auto;
	border-radius: 14px;
	position: relative;
	text-align: center;
	box-shadow: 0px 0px 30px 0px rgb(76 76 76);
	z-index: 5;
	}
  
  .request-card__image {
	position: relative;
	height: 115px;
	margin-bottom: 35px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom: 1px solid #8c88888f;
	}
  
  .request-card__image {
	background-color: #f8f1ed;
	/* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg'); */
	}
  .request-card__image  .requestTitle{
	  width: 100%;
	  height: 50px;
	  padding: 25px;
	  text-align: center;
	  object-fit: cover;
	  font-size: large;
	  font-weight: bold;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  /* color: white; */
	 }
  
  
  .requestorLocation {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 3px;
  }
  
  .requestorLocation {
	color: #EC9B3B;
  }
  
  
  .requestorUserName {
	font-size: 26px;
	color: black;
	font-weight: 900;
	margin-bottom: 5px;
  }
  
  .requestDescription{
	width: 80%;
	padding-left: 20%;
	margin-bottom: 40px;
	height:20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition:	height 1s ;
	/* font-weight: bold; */
	/* font-style: italic; */
	}
  
  .request-card__unit-stats {
	/* background: #926f45d0; */
	}
  .request-card__unit-stats  .one-third {
	   /* border-right: 1px solid #BD7C2F; */
	}
  
  
  .request-card__unit-stats {
	/* color: white; */
	/* font-weight: 700; */
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
	height: 100px;
	}
	.request-card__unit-stats  .one-third, .no-border {
	  width: 50%;
	  float: left;
	  height: 100px;
	  padding-top: 20px;
	}
	
	.request-card__unit-stats  sup {
	  position: absolute;
	  bottom: 4px; 
	  font-size: 45%;
	  margin-left: 2px;
	}
	
	.request-card__unit-stats  .requestExpectedPrice,.request-card__unit-stats .dueDateValue {
	  position: relative;
	  font-size: 24px;
	  margin-bottom: 10px;
	}
	
	.request-card__unit-stats  .isNegotiable,.request-card__unit-stats .dueDate{
	  text-transform: uppercase;
	  font-weight: 400;
	  font-size: 12px;
	}
  
	.request-card__unit-stats   .no-border {
	  border-right: none;
	  height: 100%;
	}
  
  
  .clearfix:after {
	  visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
  }
  


#popUpBack{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.574);
	top:0;
	z-index: 20;
	display: none;
}

#formsContainer{
	margin: auto;
	position: relative;
	width: 100%;
	height: 100%;
}




#UpdateForm{
	margin: auto;
	
	background-color: white;

	width: 40%;
	height: 90%;
	z-index: 10;
	
	border: 5px solid rgb(63, 50, 48);
	color: rgb(63, 50, 48);
	padding:10px;
	display: block;
	font-family: retroking;
	font-weight: light;
	position: absolute;
	left: 50%;
	top: 5%;
    transform: translate(-50%, 0);
	display: none;
	border-radius: 20px;
	background-image: url("../img/coc-background.jpg");
	background-size: cover;
}


#ViewRequest-Form{
	margin: auto;
	
	background-color: white;

	width: 40%;
	height: 90%;
	z-index: 10;
	
	border: 5px solid rgb(63, 50, 48);
	
	padding:10px;
	display: block;
	font-family: retroking;
	color: rgb(63, 50, 48);
	font-weight: light;
	position: absolute;
	left: 50%;
	top: 5%;
    transform: translate(-50%, 0);
	display: none;
	border-radius: 20px;
	background-image: url("../img/coc-background.jpg");
	background-size: cover;
	
}


.closeForm{
	position: absolute;
	right:10px;
	top:10px;
	cursor: pointer;
	font-size: large;
	font-weight: bold;
	border-radius: 80px;
	padding: 10px;
	
	
}

.closeForm:hover{

	background-color: rgba(79, 78, 78, 0.122);
}

.tdleft{
	width: 20%;
	font-size: medium;
	font-weight: bold;
	color: white;
	border: none
}

.tdright{
	

	width: 70%;
    height: fit-content;
    font-size: large;
    border-radius: 15px;
    border: rgb(253, 252, 252) solid 1.5px;
    background-color: #e7e2d969;
    font-weight: bold;
    padding: 5px;
}

#updatePrice, #updateDueDate, #updateDescription, #updateTitle{
	width: 100%;
	height: 100%;
	border-radius: inherit;
	font-size:large;

}

.requestDescription:hover{
	white-space: unset;
	height: fit-content;
}

#TransactionsNav {
    width: 250px;
    height: 400px;
    /* margin: auto; */
    background-color: rgb(225, 223, 223);
    margin: 80px 0px 0px 20px;
    overflow: hidden;
    display: grid;
    position: absolute;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: x-large;
    text-align: left;
    cursor: pointer;
    display: flex;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


.grid-container {
    display: grid;
    background-color: #2196F3;
    padding: 10px;
    grid-template-rows: 20px 10px 10px 10px 10px;
    row-gap: 30px;
}

.navIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    object-fit: contain;
}

.sideNav-text {
    vertical-align: bottom;
    /* margin: auto; */
}

#TransactionTypeDropDown{
	/* background-color: rgb(225, 131, 7); */
	border: none;
	font-weight: bold;
	font-size: larger;
	/* width: 200px; */
	text-align: center;
	/* height: 100%; */
	cursor: pointer;
	width: 100%;
	color: #ff9600;
}