/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}



/*Responder_Transactions.html*/


#Responder_CreateServiceBackground{
		/* background-image: url("../img/3490.png"); */
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		background-repeat: repeat;
		background-origin: border-box;
}

#RequestOrdersTitle{
	color: white;
	/* font-family: Retroking; */
	font-weight: bolder;
}

#CreateRequestControlsContainer{
	width: 100%;
	overflow: hidden;
	height: 50px;
	background-color: rgba(119, 65, 32, 0.644);
	display: inline-block;
	overflow: hidden;
	z-index: 5;
	padding:5px;
	margin:0;
	display: none;
}

#SearchForm{
	width:fit-content;
	height: fit-content;
	float:right;
	margin: 10px;
	margin-right: 20px;
}

#CreateServiceSearchButton{
	width:fit-content;
	background-color: rgb(63, 50, 48);
	color: white;
	margin: 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
	height: 30px;
	grid-area: button;
}

#CreateServiceSearch{
	width:fit-content;
	background-color: rgb(255, 255, 255);
	
	padding: 5px;
	border: none;
	border-radius: 5px;
	margin: 0;
	font-weight: lighter;
	height: 30px;
	grid-area: search;
}

#Requestor_CreateRequestMain{
	margin: 0px 0px 0px 20%;
	/* margin: auto; */
	/* background-image: url(../img/b.jpg); */
	background-size: inherit;
	background-position: left;
	width: 70%;
	/* min-height: 900px; */
	height: fit-content;
	border: 1px solid rgb(0 0 0 / 55%);
	padding: 20px;
	overflow: hidden;
	background-color: #e3e3e336;
	height: 100%;
	min-height: 700px;
}

#Requestor_CreateRequestMainBack{
	/* position: absolute; */
	top:0;
	margin: auto;
	padding-top: 6%;
	width: 100%;
	height: fit-content;
}


#createServiceNavMain{
	display: inline-block;
	height: 70px;
	width: 100%;
	background-color: rgba(112, 75, 23, 0.254);
	overflow: hidden;
	text-align: center;
	padding: 5px;
	margin-top: 0;
	margin: 0;
}

.serviceNavItem{
	display: inline-block;
	margin-right:30px;
	margin-left: 30px;
	cursor:pointer;
	margin-top: auto;
	margin-bottom: 30px;
	font-family: Palatino Linotype;
	padding: 5px;
	

}


.serviceNavItem:hover{
	background-color: rgba(63, 42, 13, 0.254);
	border-radius: 10px;

}

#createServiceNavMain ul li{
	list-style-type: none;
	margin-top: 0;
	
}

#ControlItemRequestsButton{
	width: fit-content;
	height: fit-content;
	
	float: left;
	margin-left: 20px;
	cursor: pointer;
	padding:2px;
	border-radius: 10px;
}

#ControlItemRequestsButton table:hover{
	background-color: rgba(112, 75, 23, 0.254);
	border-radius: 10px;
}

.controlImage{
	width: 30px;
	height: 30px;
	object-fit: contain;
}

.RequestsButtonImage{
	width: 40px;
	height: 40px;
	object-fit: contain;
}

#RequestsButtonText{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}


.bannerImage{
	width:100%;
	height: 100%;
	filter: brightness(0.5);
	object-fit: cover;
}

.bannerImage:hover{

	filter: brightness(1);

}



#DropDownRequestCategory{
	background-color: transparent;
	border: none;
	/* font-family: 'Retroking'; */
	font-size: 50px;
	/* color: rgb(255 255 255); */
	cursor: pointer;
	border: 3px solid rgb(230 218 209 / 66%);
	/* width: 300px; */
	font-weight: bolder;
	border-radius: 5px;
	/* padding: 5px; */
	width: fit-content;
	background-color: white;
	text-align: center;
}





.CreateRequestControlsDropDown{
	height: 100%;
	width: fit-content;
	margin: auto;
	padding:10px;
}


/*Forms*/
.requestForm{
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	width: 65%;
	display: none;
	padding:10px;
}


/*
#FormsContainer{
	width: 100%;
	height: fit-content;
	display: grid;
	align-content: center;
	font-size: larger;
}
*/

.requestForm input, .requestForm select{
	border: 1px solid rgb(63, 50, 48);
	height: 50px;
	width:400px;
	border-radius: 5px;
	font-size:25px;
}

/*
.requestForm input[type="text"]{
	margin:auto;

}

.requestForm input[type="number"]{
	margin:auto;

}

.requestForm input[type="date"]{
	width:300px;
	margin:auto;
	text-align: center;

}


.requestForm select{
	width:200px;
	margin:auto;
	text-align: center;
	border: 3px solid rgb(63, 50, 48);

}
*/

#formsTable{
	/* width: 100%; */
	border-spacing: 20px;
}

.tdright{
	color: black;
	border-bottom: solid 0.5px white;
}

.requestForm textarea{
	
resize: none;
	
border: 1px solid rgb(63, 50, 48);
	
border-radius: 5px;
}

.requestForm input[type="file"]{

	text-align: center;
	margin: auto;

}

.requestForm input[type="submit"]{
	width: 200px;
	height: fit-content;
	margin: auto;
	background-color: rgb(255 69 0);
	color: white;
	padding: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
	font-size: large;
}


.requestForm input[type="submit"]:hover{

background-color: rgb(255 142 0);

color: white;
}

#regularRequestForm{
	/* display: none; */
	margin: auto;
	/* margin-top: 10px; */
}
#pasabuyRequestForm{
	display: none;
	margin: auto;
	margin-top: 10px;
}

#otherCategoriesRequestForm{
	display: grid;
	margin: auto;
	margin-top: 10px;
	display:none;
}

#DisplayCategory{
	font-family:Retroking;
	font-weight:light;
	font-size: 40px;
}


.requestForm label{
	color: black;
	font-size: x-large;
	font-weight: bold;
}

.infoTD{
	color: #0f0f0f;
	cursor: default;
}

/*
.asteriskRequiredField{
	float: right;
	right: 0;
	margin-left: 600px;
}
*/

#TransactionsNav {
    width: 250px;
    height: 400px;
    /* margin: auto; */
    background-color: rgb(225, 223, 223);
    margin: 80px 0px 0px 20px;
    overflow: hidden;
    display: grid;
    position: absolute;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: x-large;
    text-align: left;
    cursor: pointer;
    display: flex;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


.grid-container {
    display: grid;
    background-color: #2196F3;
    padding: 10px;
    grid-template-rows: 20px 10px 10px 10px 10px;
    row-gap: 30px;
}

.navIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    object-fit: contain;
}

.sideNav-text {
    vertical-align: bottom;
    /* margin: auto; */
}
#TransactionTypeDropDown {
    /* background-color: rgb(225, 131, 7); */
    border: none;
    font-weight: bold;
    font-size: larger;
    /* width: 200px; */
    text-align: center;
    /* height: 100%; */
    cursor: pointer;
    width: 100%;
    color: #ff9600;
}

@media (min-width: 220px) and (max-width:555px){
	#Requestor_CreateRequestMain{
		zoom: 70%;
		margin: auto;
		width: 100%;
	}
	#TransactionsNav{
		display: none;
	}
	#regularRequestForm{
		width: 100%;
	}
	#otherCategoriesRequestForm{
		width: 100%;
	}
}