/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}


/*Requestor_AvailableServices.html*/
#Requestor_AvailableServicesBackground{
		/*background-image: url("../img/3490.png");*/
		/* background-position: center; */
		/* background-size: cover; */
		/* background-attachment: fixed; */
		/* background-repeat: repeat; */
		/* background-origin: border-box; */
}

#Requestor_SelectedServiceMain{
	/* background-color: white; */
	/* margin: auto; */
	width: 100%;
	/* min-height: 900px; */
	height: 100%;
	/* margin-top: 0; */
	/* border: 1px solid rgb(0 0 0); */
	padding: 0;
	/* display:grid; */
	/* align-content: center; */
}

#Requestor_SelectedServiceMainBack{
	/* position: absolute; */
	z-index: 3;
	width: 100%;
	height: 100%;
	display: grid;
	/* align-content: center; */
	/* padding: 0; */
	/* margin-top: 120px; */
}

#Requestor_SelectedServiceMainControls{
	background-color: #eedbe1;
	margin-top: 0;
	/* margin: 0; */
	width: 100%;
	height: 70px;
	/* border-spacing: 2; */
}

#Requestor_SelectedServiceMainControls table{
	height: 100%;
	margin-right:10px;
	/* width: 100%; */
	text-align: center;
	overflow-x: scroll;
	border-spacing: 10;
	font-family: arial;
}

#AvailServiceFormContainer{
	display: none;
	position: absolute;

}

#AvailServiceContent{
	width: 100%;
	/* height: 100%; */
	/* height: fit-content; */
	/* overflow-x: scroll; */
	/* border: 1px solid rgba(139, 136, 136, 0.353); */
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap:10px;
	grid-row-gap: 50px;
	/* padding: 10px; */
	margin: 0px auto;
	/* margin-left: 7%; */
}

.serviceCard{
	/* border: 5px solid rgb(45, 20, 7); */
	width: 350px;
	height: 350px;
	cursor: pointer;
	overflow: hidden;
	display: grid;
	text-align: center;
	/* align-content: center; */
	/* padding: 5px; */
	box-shadow: 1px 8px 10px #1f1f1f;
	border: none;
	border-radius: 10px;
	margin: 0px auto;
	position: relative;
}

.serviceCard:hover{
	box-shadow: 1px 8px 10px #cc9a3dcc
}

.bannerImage{
	width: 100%;
	height: 100%;
	filter: brightness(30%);
	object-fit: cover;
	filter: blur(0.5px);
}

.BannerContainer{filter: brightness(40%);width: 100%;}

.serviceTitleBackground:hover {

	filter: brightness(80%);
	
}


.serviceTitleBackground{
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: auto;
	display: grid;
	text-align: center;
	position: absolute;
	display: grid;
	align-content: center;
}
.serviceTitle{
	
text-align: center;
	
font-family: Arial, Helvetica, sans-serif;
	
/* background-color: rgba(13, 35, 82, 0.944); */
	
padding: 10px;
	
margin: auto;
	
z-index: 10;
	
color: white;
	
font-weight: lighter;
	
border: 2px solid white;
}

label{
	/* color: white; */
}
#AvailServiceForm a {
	text-decoration: none;
	color: rgb(4 0 255);
	text-decoration: underline;
}




#SuggestedResponders{
	
/* min-width: 700px; */
	
/* min-height: 500px; */
	
width: 90%;
	
display: grid;
	
grid-template-columns: 1fr 1fr 1fr;
	
/* border: 5px inset rgba(134, 133, 133, 0.48); */
	
margin: auto;
	
/* margin-top: 20px; */
	
color: black;
	
/* align-content: center; */
	
height: 80%;
	
row-gap: 10%;
	
overflow: hidden;
	
overflow-y: scroll;
	
column-gap: 5%;
	
text-align: center;
}


#Responders{
	border: 1px solid #3a4b9a;
	margin: auto;
	width: 50%;
	height: 70%;
	/* display: grid; */
	align-content: center;
	/* background-image: url("../img/d.jpg"); */
	background-size: cover;
	background-blend-mode: overlay;
	/* background-position: center; */
	background-color: #eedbe1;
	/* padding: 20px; */
	border-radius:10px;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
}

/*
#closeButton{
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	font-weight: bolder;


	text-align: center;
	font-size: x-large;
	padding: 10px;

	
	width: 20px;
	height: 20px;
	

}

#closeButton:hover{
	background-color: rgba(233, 22, 22, 0.701);
	border-radius: 10px;
	color: rgb(248, 248, 248);

}
*/

#closeButtonBack{
	width: 100%;
	align-content: right;
	text-align: right;

}
#WhatService{
	color: black;
	margin: 50px;
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}

.tableContainer{
	width:100%;
	height: fit-content;
}

#Responders .tableHead{
	width: fit-content;
	/* margin-left: 10%; */
	color: #3a4b9a;
	font-size: x-large;
	font-weight: bold;
	margin: auto;
	font-family: arial;
	/* background-color: #9f9f9f33; */
	/* row-gap: 20px; */
	border-spacing: 10px;
}

#RespondersBack{
	position: fixed;
	z-index: 18;
	width: 100%;
	height: 100%;
	/* align-content: center; */
	background-color: #c7ada178;
	display: none;
	margin: auto;
	background-blend-mode: darken;
}


.responderCard{
	height: fit-content;
	margin: auto;
	padding: 0px;
	/* box-shadow: 1px 8px 10px rgb(255 69 0); */
	border: none;
	position: relative;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: black;
	width: 100%;
	background-color: #f9f9f9;
	MARGIN-TOP: 10px;
}

.allServices{
	/* float: left; */
	color: black;
	margin-left: 20px;
	text-decoration: none;
}


.search{
	float:right;
}

.PageIndicator{
	color:black;
}

.responderName{
	/* margin: 20; */
	font-size: x-large;
	color: #010101;
	font-weight: bold;
	/* padding-bottom: 10px; */
}
.responderMunicipality{
	margin: 10px; 
	font-size: larger;


}
.responderRate{
	margin: 10px; 
	font-size: larger;


}

.responderCard p{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.responderID{
	display: none;
}

.suggestedResponderPic{
	background-color: #3a4b9a;
	display: grid;
	padding: 5px;
	border-radius: 20px 20px 0 0px;
	margin: 0;
	/* padding-bottom: 30px; */
}
.suggestedUserPhoto{
	width: 90px;
	height: 90px;
	border-radius: 100%;
	margin:auto;
	background-color: white;
	margin-top: 10px;
	object-fit: cover;
	cursor: pointer;
	border: 3px dashed white;
	
} 

.selectButton{
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	padding: 9px;

}

.viewProfile{
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}


.responderCardTable td:hover{
	/* background-color: #794625; */
	/* color: black; */
}

.responderCard td{
	
text-align: center;
	
/* margin: 10px; */
	
/* padding:5px; */
	
/* background-color:rgb(91, 47, 20); */
	
font-size: 80%;
	
border-bottom-right-radius: inherit;
	
/* border-left: 1px solid; */
	
width: 50%;
}

.responderCardTable{
	
height: 45px;
	
width: 100%;
	
/* display: grid; */
	
/* align-content: center; */
	
position: absolute;
	
/* bottom: 0; */
	
/* left: 20px; */
	
border-spacing: 0;
	
border-bottom-right-radius: 20px;
	
border-bottom-left-radius: 20px;
	
background-color: #3a4b9a;
}


.responderInfoDiv{

width: 80%;

height: 100px;

/* margin-top: 10px; */

/* padding: 5px; */

/* padding-top: 15px; */

margin: auto;

/* font-size: 100%; */

/* text-align: center; */
}

#AvailServiceFormContainer{
	position:fixed;
	z-index: 20;
	background-color: rgba(17, 17, 17, 0.299);
	display: none;
	width: 100%;
	height: 100%;
	/* align-content: center; */
}

#AvailServiceForm{
	/*margin: auto;
	border: 1px solid black;
	padding: 10px;
	width: 40%;
	height: 700px;
	border-radius: 20px;
	background-image: url("../img/coc-background.jpg");
	background-size: cover;
	margin: auto;
    z-index: 10;
    border: 5px solid rgb(63, 50, 48);
    padding: 10px;
    font-weight: light;
    border-radius: 20px;
	*/
	width: 50%;
	height: 70%;
	/* background-image: url(../img/f.jpg); */
	background-size: cover;
	/* background-size: auto; */
	/* background-blend-mode: overlay; */
	/* background-position: center; */
	margin: auto;
	/* z-index: 10; */
	border: 1px solid rgb(108 108 108);
	/* padding: 10px; */
	border-radius: 10px;
	background-color: #eedbe1;
}

h3{
	color: #3a4b9a;
	font-size: xx-large;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	margin: 5px;
}

#AvailServiceForm form{
	margin: auto;
	/* padding: 10px; */
	width: 80%;
	/* background-color: #ffffff00; */
	font-family: arial;
	height: 100%;
}

#servicePrice{
	width: 145px;
}

#additionalNotes{
	resize: none;
}

#selectedCategory{
	font-family: arial;
	font-weight: bolder;
	font-size: xxx-large;
	color: black;
	width: 20%;
	/* background-color: rgb(255 69 0); */
	border-radius: 20px;
}

#contractBackGround{
	position:absolute;
	z-index: 21;
	background-color: rgba(51, 49, 49, 0.299);
	display: none;
	width: 99%;
	height: 100%;
	align-content: center;
	background-color: white;
	padding: 10px;
}

#contractDiv{
	
zoom: 80%;
	
margin: auto;
	
margin-top: 100px;
	
border: 1px solid rgba(0, 0, 0, 0.287);
	
padding: 30px;
	
width: 60%;
	
height: 1500px;
	
background-color: white;
	
font-family: Arial, Helvetica, sans-serif;
	
color: black;
	
box-shadow: 2px 2px 10px black;
	
position: relative;
	
font-size: x-large;
}

#contractContent{
	margin-left: 50px;
	margin-right: 50px;
	overflow-wrap: break-word;
}

#contractHeaderInfo{
	width: 200px;
	margin-top: 120px;
	margin-left: 40px;
}

#microquestLogo{
	width: 150px;
	height: 80px;
	position: absolute;
	right: 0;
	margin:30px;
	filter: hue-rotate(0);

}

#RequestorInfoContract{
	margin-left: 100px;
	font-size: x-large;
}
#ResponderInfoContract{
	margin-right: 100px;
	padding-right:150px;
	font-size: x-large;
}


.transactionTable{
	width: 100%;
	background-color: none;
	border-spacing: 10px;
}

.transactionFirstRow{

/* width: 20%; */

height: 20px;

font-size: x-large;

color: #3a4b9a;
}

.transactionSecondRow{
	width: 70%;
    height: 40px;
    font-size: xx-large;
    border-radius: 15px;
    border: #ffffff82 solid 1.5px;
  
}


#Category, #Position, #ResponderId, #servicePrice, #dueDate, #responderTimeSlots {
	border: 1px solid black; 
    background: rgba(255, 255, 255, 0.692);
    font-size: 20px;
    height: 100%;
    border-radius: inherit;
    width: 100%;
    border: none;

}

#additionalNotes{
	height: 100%;
    /* display: none; */
    width: 100%;
    border-radius: inherit;
}

.confirmButton{
	width: 90px;
	height: 40px;
	background-color: #3a4b9a;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.confirmButton:hover{
	background-color: #765949;
	color: white;
}

#Micro{
	font-family: Retroking;
	font-size: 30px;
	margin: 5px;
}

#Quest{
	
	margin: 5px;	
	font-size: 30px;
	text-indent: 0px;
	font-family: OPTICopperplate-Heavy;

	display: inline-block;

}

.contractNav {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    align-items: center;
}

#printButton{
	/* position: absolute; */
	/* left: 5; */
	/* top:10; */
	/* width: 300px; */
	/* height: 200px; */
	/* cursor: pointer; */
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: blue;
	/* padding: 20px; */
	display: inline-block;
}


.ratings{
	
}

#ConfirmContractButton{
	/* width: 70px; */
	/* height: 50px; */
	/* padding: 30 60; */
	/* text-align: center; */
	background-color: green;
	color: white;
	/* margin: auto; */
	/* cursor: pointer; */
	display: none;
	font-size: x-large;
	font-weight: bold;
	display: inline-block;
}

#viewContractButton{
	width: fit-content;
	padding: 10px;
}

#viewContractButton:disabled{
	/* opacity: 30%; */
}
td.categories {
    width: fit-content;
    min-width: 50px;
    /* width: 100px; */
    border-radius: 30px;
    /* border: solid; */
    background-color: #b1b1b173;
    padding: 10px;
	cursor: pointer;
} 


td.categories:hover {
	background-color: #6f6d6d73;

} 
@media (min-width: 200px) and (max-width: 555px){
	
	#Requestor_SelectedServiceMainControls{
		
min-width: 200px;
		
width: 100%;
		
max-width: 375px;
		
overflow: hidden;
		
overflow-x: scroll;
		
display: none;
	}
	
	
	#canvas{
		
		display: none;
	
	}


	#AvailServiceContent{
		width: 100%;
		margin: auto;
		grid-template-columns: auto auto;
		zoom: 60%;
		/* height: 100%; */
		overflow-y: scroll;
		row-gap: 0px;
	}
	.serviceCard{
		margin-top: 20px;
		width: fit-content;
		height: fit-content;
	}
	#selectedCategory{
		width: auto;
		zoom: 60%;
	}
	#Responders{
		width: 90%;
		height: 70%;
		zoom: 60%;
	}
	#AvailServiceForm{
		width: 90%;
		height: 70%;
		zoom: 80%;
	}
	#contractBackGround{
		margin-top: 15%;
	}
	#contractDiv{
		
		width: 80%;
		
		zoom: 70%;
	}
	.contractNav{
		zoom: 80%;
	}
	.RequestorInfoContract{
		display: block;
	}
	.ResponderInfoContract{
		display: block;
	}
	
}