/*request info */

#requestInfoContentBack{
    position:absolute;
    width: 100%;
    height: fit-content;
    display: grid;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

#requestInfoContent{
    display: grid;
    margin:auto;
    width: 80%;
    height: 100%;
    top:100px;
}

#requestInfoContentTable{
    width: 80%;
    height: fit-content;
    margin: auto;
    border: 2px , 
    
}

#requestInfoContentTable td{
    width: 80%;
    height: fit-content;
    padding: 10px;
  
}

#requestorProfile{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid black;
    background-color: gray;
    margin: 5px;
    background-color: white;
}


#requestInfoMain{
   
box-shadow: 1px 8px 10px #353535;
   
border-radius: 50px;
   
width: 100%;
   
height: fit-content;
   
color: aliceblue;
   
background-image: url(../img/d.jpg);
   
background-color: rgb(141 141 141 / 47%);
   
margin: auto;
   
padding-top: 10px;
   
font-family: Georgia;
   
border: solid rgb(255 69 0) 2px;
}

#requestInfoMain h3{
    margin:30px;

}
#requestInfoMain h1{
    margin:30px;

}

#applyButton{
    margin: 30px;
    width: 150px;
    height: 80px;
}


#messageMe{
    border: 1px solid rgb(136 75 38);
    box-shadow: 1px 8px 10px #353535;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    background-color: #89898900;
    margin: auto;
    font-family: Georgia;
    top:5px;
}
#messageMeTd{

    width: fit-content;
    overflow: hidden;
}


#viewFeedBacks{
    
    box-shadow: 1px 8px 10px #353535;
    border-radius: 50px;
    width: 80%;
    height: fit-content;
    padding: 50px;
    background-color: white;
    margin: auto;
}



#formBackground{
    width:100%;
    height: 100%;
    position: fixed;
    background-color: rgba(7, 6, 6, 0.405);
    display: none;
    z-index: 20;
    
}

#AreYouSureDialog{
    background-color: white;
    width: 20%;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: inset #ff450094 1px;
}

/* My Services */
#myServicesNav{
    display: grid;
    width: 100%;

    height: 100px;
    align-content: center;
    padding: auto;
    
}

#MyServicesButton{
    width: 200px;
    outline: auto;
    height: 100px;
    text-align: center;
}

#MyProducts{
 
}

#myServicesContent{
    display: grid;
   
    
    height: 100%;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;


    

}

.myServiceCard{
    border:1px solid black;
    height: 200px;
    margin: 5px;
    cursor: pointer;
    overflow-wrap: break-word;
    overflow: hidden;
    width: 500px;
    padding: 5px;


}

.certificateImage{
    width: 100px;
    height: 100px;
    
}

.delist{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
   

}

.update{
    width: 100%;
    height: 30px;
    
}

#updateFormBackground{
    width:100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    display: none;
    
}

#updateService{
    background-color:brown;
    width: 300px;
    height: 200px;
}


/*Pasabuy form - avail service*/

#pasabuyFormContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(2px);
    display: none;
}


.userPhotoPic{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    border: 1px solid black;
    background-color: gray;
    margin: 5px;
}


/*ResponderRegistration.html*/
@keyframes backButtonMove{
	from{margin:10px;}
	to{margin-left:0px;}
}

#Registration-BackButton{
	
	height: 50px;
    position: absolute;
    float: left;
	margin:10px;
	cursor: pointer;
	filter: brightness(30%);

}
#Registration-BackButton a{
    width: fit-content;
}

#Registration-BackButton:hover{
	animation-name: backButtonMove;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

#requestDataTable{
    color: #ffffff;
    background-color: #8b8b8bab;
}

#requestData{
    border-bottom: dotted black 0.5px;
}

body{
    background-color: #3a2719e8;
}

#applyButton{
    border: 1px solid black;
    border-radius: 25px;
}


#applyButton:hover{
    border: 5px solid rgb(240, 132, 25);
    border-radius: 25px;
}

@media(max-width:390px){
	#Registration-BackButton{
		top: 0;
		left: 0;
	}
	#requestInfoContentTable{
		position:absolute;
		top: 40px;
	}
	#messageMe{
		position: absolute;
		right:-10px;
		zoom: 60%;
		top: -80px;
		height: 120px;
		padding: 20px;
		border-radius: 0;
		width: 250px;
		
	}
	#requestInfoMain{
		zoom:60%;
		position: absolute;
		left: 0;
		top: 100px
	}
	#requestorProfile{
		display:none;
	}
	#requestInfoMessageBody{
		width: 100%;
	}
	#AreYouSureDialog{
		width: 70%;
	}
	
}