/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}

body{
	zoom: 80%;
}

#serviceInfoDivBg{
	background-color: white;
	width: 80%;
	/* min-height: 800px; */
	height: 100%;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	/* height: fit-content; */
	border: solid  rgb(255 69 0) 1px;
	/* border-radius: 20px; */
}

#serviceInfoDiv{/* margin-top: 0; *//* position: relative; *//* width: 40%; */box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.167);height: 80%;/* overflow-y: scroll; */overflow: hidden;/* color: orangered; */}

#serviceFeedbacksDiv{
	background-color: rgb(133 133 133 / 40%);
	width: 500;
	/* min-height: 500px; */
	/* margin-top: 0; */
	/* border-radius: 0px 0px 10px 10px; */
	/* padding: 10px; */
	height: 90%;
	overflow-y: scroll;
	font-size: large;
}

#userInfoDiv{

padding: auto;

/* position: relative; */

width: 25%;

/* height: fit-content; */

background-color: #ffffffb3;

border-radius: 0 10px 10px 0;

/* margin: 5px; */

height: 100%;

/* margin-bottom: 40%; */
}

#userProfileImg{
	width: 100%;
	height: 100%;
	border: 1px solid black;
	/* border-radius: 100%; */
	object-fit: cover;
	background-color: white;
}
#userInfo{
	/* margin-top: 0; */
	/* position: absolute; */
	/* top:100px; */
	/* left: 50%; */
	/* transform: translate(-50%, 0); */
	margin: auto;
	/* text-align: center; */
	align-content: center;
	/* margin-left: 15%; */
	height: 50%;
}

#serviceInfo{
	padding: 20px;
	/* margin-top: 5px; */
	height: 10%;
	/* border-radius: 10px 10px 0 0; */
	/* background-size: cover; */
	text-align: center;
	display: grid;
	background-color: #3a4b9a;
	color: white;
}

#serviceRatingsDiv{
	text-align: center;
}

#totalRatings{
	/* width: 5ch; */
	/*max-width: 6ch;*/
	/* white-space: nowrap; */
	overflow: hidden;
	/* text-overflow: ellipsis; */
	/* text-align: center; */
	/* margin-left: 45%; */
}

.reviewContainer-Content{
	/* width: 100%; */
	/* margin: auto; */
	margin-top:10px;
	text-align: left;
}

.reviewerImage{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	/* border-radius: 100%; */
	object-fit: cover;
	background-color: white;
	margin: auto;
	/* margin-top: 40px; */
}

.userProfileTD{
	/* display: grid; */
	/* align-content: center; */
	/* padding-right: 20px; */
	width: 20%;
	align-items: center;
	text-align: center;
}
.reviewCard{
	width: 100%;
	background-color: white;
	/* height: 100px; */
}

.reviewDescription{
	width: 60%;
}

#serviceCategory{
	/* font-size: xx-large; */
	margin: auto;
	height: 30%;
	/* padding-top: 40px; */
	color: white;
}

#serviceTitle{
	/* font-size: x-large; */
	/* margin: auto; */
	height: 30%;
	color: white;
}
b#responderUserType {
    /* text-transform: capitalize; */
    text-transform: uppercase;
    color: orangered;
    padding: 10px;
}

b#responderUserType {}

b#responderUserEmail {
    font-family: arial;
    font-size: x-large;
    padding: 10px;
    color: #1b00ff;
}

b#responderUserName {
    font-family: arial;
    font-size: xx-large;
    padding: 5px;
}

@media (min-width: 222px) and (max-width: 555px){
	.tableContainer{
		margin-top: 100px;
		min-height: 700px;
	}
	#serviceInfoDivBg{
		width: 90%;
	}
}