/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}



/*Responder_Transactions.html*/
#TransactionsBackContainerBack{
	
width: 100%;
	
height: 100%;
	
position: absolute;
	
top: 120px;
	
background-color: rgb(243, 240, 240);
}

#TransactionsContainer{
	width: 70%;
	height: 100%;
	margin: 40px 0 0 20%;
	background-color: white;
	/* margin-top: 0; */
	/* margin-bottom: 0; */
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	overflow-y: scroll;
}

#TransactionsContainerThead{
	color: gray;
	padding: 10px;
	font-size: small;
}

#TransactionsContainerBody {
    height: fit-content;
    width: 100%;
    overflow: scroll;
    background-color: rgba(210, 202, 202, 0.184);
    display: grid;
    grid-row-gap: 10px;
    /* border-collapse: collapse; */
}

.contractAgreement{
	width: 50px;
	overflow: hidden;
}

#TransactionsNav {
    width: 250px;
    height: 650px;
    margin: auto;
    background-color: rgb(225, 223, 223);
    /* margin: 0px 0px 0px 0px; */
    /* overflow: hidden; */
    /* padding: 5px; */
    /* display: grid; */
    position: absolute;
    /* top: 0; */
    margin-top: 40px;
}

.grid-container {
	display: grid;
	background-color: #2196F3;
	padding: 10px;
	grid-template-rows: 20px 10px 10px 10px 10px 10px 10px;
	row-gap: 40px;

}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	
	padding: 10px;
	font-size: medium;
	text-align: center;
	cursor: pointer;
	display:flex;
	height: 30px;

	font-family: Arial, Helvetica, sans-serif;
	
	
}

.navIcon{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	vertical-align:middle;
	object-fit:contain;
	
}

.sideNav-text{
	vertical-align:bottom;	
	
}

.grid-item:hover{
	color: orangered;
	
}


#TransactionsNav td{
	display: inline;
	list-style-type: none;
	
	padding:15px;
	margin-top: 0;
	margin-bottom: 0;
	margin: 10px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}

#TransactionsNav td:hover{

	border-bottom: 4px solid rgb(48, 30, 8);
}


#TransactionsNav tr{

	height: 50px;
	width: 100%;
	
	margin: auto;



}

#TransactionsNav tbody{
	padding-top: 10px;
}

#TransactionTypeTd{
	/* margin-right: 100px; */
	/* width: 500px; */
	/* border-bottom: none; */
	/* display: none; */
	text-align: center;
}

#TransactionTypeDropDown{
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: larger;
	width: 200px;
	text-align: center;
	height: 100%;
	cursor: pointer;
}

/*
td{
	padding: 20px;
	width: 400px;
	
}
*/

.AcceptButton{
	background-color: rgb(9, 106, 9);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	
}

.AcceptButton:hover{
	background-color: rgb(38, 194, 38);

	
}


.CancelButton{
	background-color: rgb(136, 18, 18);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	margin: 5px;
	padding: 5px;
	cursor: pointer;

}

.CancelButton:hover{
	background-color: rgb(224, 28, 28);
	

}

.DeliverButton{
	background-color: rgb(18, 75, 136);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.DeliverButton:hover{
	background-color: rgb(19, 102, 191);
	

}

.ConfirmPaymentButton{
	background-color: rgb(18, 136, 40);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

.ConfirmPaymentButton:hover{
	background-color: rgb(33, 171, 58);
	

}


#reportPopUpBack{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	background-color: rgba(32, 32, 35, 0.378);
	top: 0;
	display: grid;
	align-content: center;
	display: none;
	
	
}

#reportPopUp{
	margin: auto;
	background-color:wheat;
	width: 500px;
	height: 700px;
	overflow-y: scroll;
	margin-top: 20px;
	padding: 10px;
	border: rgba(160, 104, 51, 0.849) solid 5px;
	border-radius: 20px;

}

#ReportedAccountProfile{
	float: left;
    left: 38%;
    position: absolute;
    width: 120px;
    height: 120px;
    border: 2px solid white;
    object-fit: cover;
    border-radius: 50%;
	top: 12%;
	padding: 3;
}

#reportHeader span{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    width: fit-content;
    height: 20%;
    float: left;
    margin-left: 40%;
    overflow: hidden;
}

#reportProofOutputBackground{
	width: 400px;
	height: 230px;
	background-color: rgba(221, 218, 218, 0.744);
	position: relative;
	display: none;
	padding: 5px;
	border-radius: 20px;
}

#reportProofOutput{
	width: 150px;
	height: 200px;
	margin: auto;
	top:20px;
	left:15px;
	border: 1px solid black;
	margin: auto;

}

#closeImage{
	position: absolute;
	right: 100px;
	top: 5px;
	cursor: pointer;
	z-index: 18;
	color:rgb(7, 7, 7);
	font-weight:bolder;
	padding: 5px;
}

#closeImage:hover{
	background-color: red;
	color: white;
	border-radius: 100%;
}

#reportDescription{
	resize: none;
}

#otherReportType{
	display: none;

}

.isReported{
	display: none;
}

.additionalNotes{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50px;
}

#reportHeader{
	height: 30%;
	width: 100%;
	background-image: url("../img/coc-background.jpg");
	background-size: cover;
	border-radius: 10px;
}

#reportType, #reportProof{
	font-size: x-large;
	width: 80%;
}

#reportProof{
	font-size: large;
}

.formButton{
	font-size: large;
}



.pasabuyTransactionRow{
	height: 200px;
	width: 100%;
	margin: auto;
	border-bottom: 1px solid black;
	text-align: center;

}

.responderImagePic{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100%;
}

.productImageTransactions{
	width: 100px;
	height: 100px;
	object-fit: contain;
}

.ActionsTR{

	width: 100%;
	border-top: 5px solid black;

	


}
.ActionsTd{
	
	


}
.parentTable{
	margin: auto;
	width: 80%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.215);
	margin-bottom: 50px;
	background-color: white;

}

.tablehead{
	margin: auto;
	width: 80%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.215);
	margin-bottom: 50px;
	background-color: white;
}

.cancelButton{
	background-color: rgb(150, 4, 4);
	color: white;
	border: none;
	padding:10px;
	border-radius: 10px;
}

.SavePaymentButton{
	background-color: rgb(6, 29, 114);
	color: white;
	border: none;
	padding:10px;
	border-radius: 10px;
	cursor: pointer;

}

.item1 {
	 grid-area: header; 
	
}
.item2 {

grid-area: menu;

cursor: pointer;

max-width: 300px;

/* height: 170px; */
}
.item3 {
	display: grid;
	grid-template-columns: auto auto;
	grid-area: main;
	cursor: pointer;
}
.item4 {
	grid-area: right;
	text-align: right;
	padding: 10px;
}
.item5 { 
	grid-area: footer; 
}

.grid-container2 {

display: grid;

grid-template-areas:


'header header header header header header'


'menu main main main right right'


'menu footer footer footer footer footer';

gap: 1.5px;

background-color: #ff450052;

padding: 5px;

border-radius: 5px;
}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* padding: 20px 0 0 0; */
  font-size: 30px;
}
.transactionsContentContainer {
    width: 70%;
    margin: 40px 20% 50px 20%;
}

.grid-header {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;
	grid-area: header;
	}
  .header-item {
	/* background-color: rgba(255, 255, 255, 0.8); */
	/* border: 1px solid rgba(0, 0, 0, 0.8); */
	/* padding: 20px; */
	font-size: 30px;
	text-align: center;
	}
	.grid-footer {
		display: grid;
		grid-template-columns: auto auto auto;
		background-color: #2196F3;
		padding: 20px 0 0 10;
		grid-area: footer;
		}
	  .footer-item {
		/* background-color: rgba(255, 255, 255, 0.8); */
		/* border: 1px solid rgba(0, 0, 0, 0.8); */
		/* padding: 20px; */
		font-size: 30px;
		/* text-align: center; */
		}
div#requestTitle {
    font-weight: bold;
}
div#requestID {
    font-size: medium;
    float: left;
    text-align: left;
    padding-left: 20px;
}
img#responderImage {
    border-radius: 50%;
}
div#requestPrice {
    color: red;
    /* padding: 5% 0 0 0; */
}
div#requestDescription {
    font-size: large;
}
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 3px;
	}

div#requestDate {
    color: gray;
    font-size: medium;
}
#requestDate p {
    padding: 0;
    margin: 0;
    text-align: left;
}
#requestStatus{
	color: gray;
}
#imgContainer{
	border-radius: 50%;
}
#Cancel{
	background-color: #f32121;
}
div#actionButton {
    float: right;
    text-align: right;
    padding: 0 10 0 0;
}
div#responderEmail {
    width: 200px;
    font-size: medium;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
}

p.Description {
    width: 500px;
    margin: auto;
    text-align: left;
    margin-top: 10px;
    height: -webkit-fill-available;
}

button.red{
	background-color: #f32121;
}
.Description {
    margin: auto;
}


#PhotoViewerBackground{
	position: fixed;
	background-color: rgba(28, 27, 27, 0.9);
	padding: 0;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	align-content: center;
	z-index: 20;

}
button#sideMenu {
    display: none;
}

#PhotoViewer{
	margin: auto;
	margin-top: 0;
	width: 90%;
	height: 100%;
	background-color: none;
	display: grid;
}

#photoViewerImage{
	width: 600px;
	height: 700px;
	object-fit: contain;
	margin: auto;
	background-color: white;
}

.responderProfileTransaction{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100%;
}

#TextViewerBackground{
	position: fixed;
	background-color: rgba(28, 27, 27, 0.9);
	padding: 0;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	align-content: center;
	z-index: 20;

}

#TextViewer{
	margin: auto;
	margin-top: 0;
	width: 90%;
	height: 100%;
	background-color: none;
	display: grid;
}

#textContainer{
	width: 600px;
	height: 700px;
	object-fit: contain;
	margin: auto;
	background-color: white;
	text-align: center;
	border: 1px solid black;
	margin-top: 100px;
}

button#hideMenu {
    display: none;
}


@media (max-width: 390px){
	#TransactionsNav{
		margin: 10px 0px 0px -270px;
		transition: ease 1.5s;
	}
	button#sideMenu{
		display: unset;
	}
	.sideMenu{
		position: absolute;
		left: 0;
		top: 9%;
		z-index: 100;
		height: 50px;
		width: fit-content;
		margin-left: -5px;
		transition: ease 1.5s;
		z-index: 9;
	}
	#TransactionsContainer{
		width: 100%;
		margin: unset;
		height: 100%;
	}
	#TransactionsContainerBody{
		/* height: 250px; */
		width: 100%;
		zoom: 100%;
	}
	.header-item{
		font-size:15px;
	}
	.grid-container2 > div {
		font-size:12px;
	}
	.responderprofiletransaction{
		width: 50px;
		height: 50px;
		padding: 20 0;
	}
	div#responderEmail{
		width: 150px;
		font-size: 12px;
	}
	p.description{
		width: 150px;
		padding: 0px;
		margin: auto;
		font-size: 12px;
	}
	.grid-footer{
		padding: 0;
		width: 100%;
		height: 100%;

		
	}
	.button{
		font-size: 10px;
		padding: 10px
	}
	#requestDate p{
		font-size: 10px;
	}
	div#requestTitle{
		display: grid;
	}
	button#hideMenu {
    display: unset;
	float: right;
}
	
}


