/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}



/*Responder_Transactions.html*/
#Responder_TransactionsBackground{
	/*background-image: url("../img/3490.png");*/

	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	background-origin: border-box;

}




#TransactionsBackground{
	width: 100%;
	position: absolute;
	overflow: hidden;
	object-fit: cover;
	height: 100%;
	opacity: 99%;

}

#TransactionsBackContainer{
	position: absolute;

	width: 99%;
	height: 100%;

	margin: auto;
	margin-top: 100px;
	margin-left: 5px;
	
}

#TransactionsTitle{
	font-family: Retroking;
	color: white;
	font-weight: lighter;
}

#TransactionsContainer{
	margin-top: 0;
	margin: auto;
	background-color: white;
	width: 80%;
	height: 100%;

	border: 5px solid rgb(136, 75, 38);
	min-height: 1000px;
	max-height: 100%;
	padding: 0;
}

#TransactionsContainer-Controls{

	width: 100%;
	height: 70px;
	background-color: rgba(119, 65, 32, 0.644);
	display: inline-block;
	overflow: hidden;


	
}

#TransactionsContainer-ControlItems{

	list-style-type: none;
	width: auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;

	vertical-align: text-top;
	
}

.TransactionsContainer-ControlItem{
	width: fit-content;
	display: inline-block;
	margin-right: 100px;
	font-size: large;
	cursor: pointer;
}

.TransactionsContainer-ControlItem span{
	margin:auto;
	vertical-align: top;
	text-align: center;


}

.TransactionsContainer-ControlItem:hover{
	color:rgb(252, 174, 6);
}

#TransactionsCategoryContainer{
	float: right;
	margin: 10px;
	width: fit-content;


}

#TransactionsCategory{
	background-color:transparent;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color:rgb(252, 174, 6);
	cursor: pointer;

}

.TransactionsContainer-ControlItemIcon{
	width: 40px;
	height: 40px;
	margin: 0;
	filter: brightness(100%);
	filter: invert(0.3);
}

#TransactionsContainer-Content{

	/*
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	*/
	padding: 10px;
	align-content: center;
	overflow: hidden;
	text-align: center;
}

.Transactions-Card{
	border: 5px solid rgb(63, 50, 48);
	width: 200px;
	height: 300px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: auto;
	text-align: center;
	display: grid;
	
}


