/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}





/*Responder_RequestBoard*/
body{

	zoom:80%;

}

#RequestBoardContainer{
	position: absolute;

	width: 99%;
	height: 100%;

	margin: auto;
	margin-top: 100px;
	margin-left: 5px;
	
}

#RequestBoardTitle{
	font-family: Retroking;
	color: white;
	font-weight: lighter;
}

#RequestsContainer{
	margin-top: 0;
	margin: auto;
	margin-left: 20%;
	background-color: white;
	width: 80%;
	height: 100%;
	border: 1px solid rgb(136, 75, 38);
	/* min-height: 1000px; */
	/* max-height: 100%; */
	/* padding: 0; */
	overflow: hidden;
	overflow-y: scroll;
}

#RequestsContainer-Controls{

width: 100%;

height: 70px;

background-color: rgba(119, 65, 32, 0.644);

display: inline-block;

overflow: hidden;

display: none;
}

#RequestsContainer-ControlItems{

	list-style-type: none;
	width: auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;

	vertical-align: text-top;
	
	
}

#RequestsContainer-ControlItems a{
	color: white;
	text-decoration: none;
}

#RequestsContainer-ControlItems td{


	font-weight: bolder;
	
} 
.RequestsContainer-ControlItem{
	width: fit-content;
	display: inline-block;
	margin-right: 100px;
	font-size: large;
	cursor: pointer;
}

.RequestsContainer-ControlItem span{
	margin:auto;
	vertical-align: top;
	text-align: center;


}

.RequestsContainer-ControlItem:hover{
	color:rgb(252, 174, 6);
}

#RequestsCategoryContainer{
	float: right;
	margin: 10px;
	width: fit-content;


}

#RequestsSearchContainer{
	float: right;
	margin: 10px;
	width: fit-content;


}



#OfferaServiceButton{
	width: fit-content;
	
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
}

#OfferaServiceButton:hover{

	background-color: rgb(148, 111, 63);


}

.requestcard-footer{
	width: 100%;
	margin-bottom: 0;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 60px;
}

#RequestCategory{
	background-color:transparent;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	/*color:rgb(252, 174, 6);*/
	cursor: pointer;
	font-weight: bolder;
	text-align: center;
	width: fit-content;

}

.RequestsContainer-ControlItemIcon{
	width: 40px;
	height: 40px;
	margin: 0;
	filter: brightness(100%);
	filter: invert(0.3);
}

#RequestsContainer-Content{

display: grid;

grid-template-columns: auto auto auto auto;

/* overflow: hidden; */

grid-column-gap: 50px;

grid-row-gap: 50px;

overflow-y: scroll;

/* padding-left: 50px; */

height: 100%;

/* padding-bottom: 100px; */

width: 100%;

margin: auto;
}

#RequestsContainer-Content::-webkit-scrollbar-thumb{
	background-color: none;
	outline: none;
}

.requestCard{
	border: 5px solid rgb(63, 50, 48);
	width: fit-content;
	height: 260px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: auto;
	overflow:hidden;
	
}


.RequestorProfileDiv{
	display: inline-block;
	width: 100%;
	height: fit-content;
}

.requestorUsername{
	/* text-decoration: none; */
	/* transition-delay: 2s; */
}
/*.userPhotoPic{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	border: 3px solid rgb(63, 50, 48);
	margin: 0;
	object-fit: cover;
	
}*/

.RequestInfoList{
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	font-size:small;
	font-weight: lighter;
	text-align:left;

}
.requestorLocation{
	/* font-size: small; */
}
.viewRequest{
	width: 90px;
	margin: 10px;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	font-weight: lighter;
}

.viewRequest:hover{
	background-color: rgb(148, 111, 63);
}

.MessageButton{
	width: 90px;
	margin: 10px;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
}

.MessageButton:hover{

	background-color: rgb(148, 111, 63);


}

.requestcard-footer{
	width: 100%;
	margin-bottom: 0;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 60px;
}

#Responder_RequestBoardBackground{
	/*background-image: url("../img/3490.png");*/

	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	background-origin: border-box;


}

.PageIndicator{
	color: rgb(34, 27, 26);
	font-weight: bold;
}

#RequestBoardSearchButton{
	width:fit-content;
	background-color: rgb(63, 50, 48);
	color: white;
	margin: 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
	height: 30px;
	grid-area: button;
}

#RequestBoardSearchBox{
	width:fit-content;
	background-color: rgb(255, 255, 255);
	
	padding: 5px;
	border: none;
	border-radius: 5px;
	margin: 0;
	font-weight: lighter;
	height: 30px;
	grid-area: search;
}

#RequestsSearchContainer{

}

/*Requestor_RequestBoard.html*/

#Requestor_RequestBoardBackground{
	background-image: url("../img/3490.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	background-origin: border-box;

}

.UpdateButton{	
	width: fit-content;
	margin: auto;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.ReviewButton{
	width: fit-content;
	margin: auto;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#CreateRequestButton{
	width: fit-content;
	
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#CreateRequestButton:disabled{
	filter: grayscale(100%);
	cursor: not-allowed;
}

#CreateRequestButton:hover{
	background-color: rgb(136, 75, 38);
	color: rgb(255, 196, 1);
}


#UpdateRequests-Container{
	margin: auto;
	position: fixed;
	background-color: none;
	width: 100%;
	height: 100%;
	z-index: 6;
	display: grid;
	align-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;

	
}

#UpdateForm{
	margin: auto;
	
	background-color: white;

	width: 400px;
	height: 500px;
	z-index: 10;
	
	border: 5px solid rgb(63, 50, 48);

	padding:10px;
	display: block;
	font-family: retroking;
	font-weight: light;
	color: rgb(94, 74, 71);
	margin-top: 50px;
	
}

#UpdateForm table{
	margin: auto;
	text-align: justify;
	height: 400px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.UpdateRequests-Input{
	border: 2px solid rgb(94, 74, 71);
	border-radius: 5px;
	
}

.UpdateRequests-Input[type="Text"]{
	height: 20px;
	width: 200px;
}

.UpdateRequests-Input[type="datetime-local"]{
	height: 20px;
	width: 200px;
}

.UpdateRequests-Input[type="number"]{
	height: 20px;
	width: 200px;
}


.tdright{
	text-align: right;
}

#UpdateControls{
	text-align: right;
}

.UpdateControls-Button{
	width: 90px;
	margin: auto;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.UpdateControls-Button:hover{
	background-color: rgb(148, 111, 63);
}


#ViewRequests-Container{
	margin: auto;
	position: fixed;
	background-color: none;
	width: 100%;
	height: 100%;
	z-index: 6;
	display: grid;
	align-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;

	
}

#ViewRequest-Form{
	margin: auto;
	
	background-color: white;

	width: 400px;
	height: 500px;
	z-index: 10;
	
	border: 5px solid rgb(63, 50, 48);

	padding:10px;
	display: block;
	font-family: retroking;
	font-weight: light;
	color: rgb(94, 74, 71);
	margin-top: 50px;
}

#ViewRequest-Form table{
	margin: auto;
	text-align: justify;
	height: 400px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 100%;
}

.ViewControls-Button{
	width: 90px;
	margin: auto;
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 5px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.UpdateControls-Button:hover{
	background-color: rgb(148, 111, 63);
}

/*new*/










*, *:before, *:after {
  box-sizing: border-box;
}


.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: arial;
  /* display: table-header-group; */
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  /* margin: auto; */
}
.wrapper:focus {
    outline: 0;

}



.request-card {
  background-color: #9a9a9a52;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  /* display: inline-block; */
  margin: auto;
  /* border-radius: 14px; */
  /* position: relative; */
  /* text-align: center; */
  /* box-shadow: -1px 15px 30px -12px black; */
  /* z-index: 9999; */
  /* cursor: pointer; */
  animation: fadein 1.5s;
}
.request-card:hover{
	box-shadow: -1px 15px 30px -12px #d27234bd;
}

.request-card__image {
  /* position: relative; */
  /* height: 115px; */
  /* margin-bottom: 35px; */
  /* border-top-left-radius: 14px; */
  /* border-top-right-radius: 14px; */
  margin: auto;
}

.request-card__image {
  /* background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg'); */
}
.request-card__image  .userPhotopic{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: orangered 1px solid;
    /* margin-top: 35px; */
    object-fit: cover;
    /* margin: auto; */
    /* text-align: center; */
    /* margin: auto; */
}


.requestorLocation {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.requestorLocation {
  color: #EC9B3B;
}


.requestorUserName {
  font-size: 26px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.requestDescription{

/* margin-bottom: 10px; */

/* height:70px; */

width: 80%;

margin: auto;

text-align: center;
}
a{
	color: #645f4b;
}
.request-card__unit-stats {
  /* background: #EC9B3B; */
}
.request-card__unit-stats  .one-third {
     /* border-right: 1px solid #BD7C2F; */
  }


.request-card__unit-stats {
  
/* color: white; */
  
/* font-weight: 700; */
  
/* border-bottom-left-radius: 14px; */
  
/* border-bottom-right-radius: 14px; */
  
/* height: 100px; */
  
display: grid;
  
grid-template-columns: auto auto;
}
  .request-card__unit-stats  .one-third {
    margin: auto;
    width: 80%;
    /* float: left; */
    /* height: 100px; */
    /* text-align: left; */
  }
  
  .request-card__unit-stats  sup {
    position: absolute;
    bottom: 4px; 
    font-size: 45%;
    margin-left: 2px;
  }
  
  .request-card__unit-stats  .requestExpectedPrice,.request-card__unit-stats .requestCategory {
    /* position: relative; */
    font-size: 24px;
    /* margin-bottom: 10px; */
  }
  
  .request-card__unit-stats  .isNegotiable,.request-card__unit-stats .requestTitle{
    /* text-transform: uppercase; */
    /* font-weight: 400; */
    /* font-size: 12px; */
  }

  .request-card__unit-stats   .no-border {
    /* border-right: none; */
    /* height: 100%; */
    text-align: right;
  }


.clearfix:after {
	/* visibility: hidden; */
	/* display: block; */
	/* font-size: 0; */
	/* content: " "; */
	clear: both;
	height: 0;
}

.clearfix .slick-prev {
  left: 100px;
  
}

.clearfix .slick-next {
  right: 100px;
  
}
.grid-head {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    height: fit-content;
    column-gap: 5px;
}

.dueDate {
    width: 50%;
    margin: auto;
    text-align: center;
}

.nameLoc{
	margin: auto;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
}.requestExpectedPrice {}

.price {
    margin: auto;
}