/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}


/* Responder_MyServices.php -  Offer a Service*/

.ServicePopUp{
	background-color: white;

	position:absolute;
	z-index: 7;
}

#serviceFormCategory, #serviceFormPosition, #serviceFormRate, #serviceFormStatus, #submitchanges{
	height: 100%;
	font-size: 100%
}



/*Requestor_AvailableServices.html*/





#AvailableServicesBackground{
	width: 100%;
	position: absolute;
	overflow: hidden;
	object-fit: cover;
	height: 100%;
	opacity: 99%;

}

#AvailableServicesContainer{
	position: absolute;

	width: 99%;
	height: 100%;

	margin: auto;
	margin-top: 100px;
	margin-left: 5px;
	
}

#AvailableServicesTitle{
	font-family: Retroking;
	color: white;
	font-weight: lighter;
}

#ServicesContainer{
	margin-top: 0;
	margin: auto;
	background-color: white;
	width: 80%;
	height: 100%;

	border: 5px solid rgb(136, 75, 38);
	min-height: 1000px;
	max-height: 100%;
	padding: 0;
	overflow:hidden;
}

#AvailableServicesContainer-Controls{

	width: 100%;
	height: 70px;
	background-color: rgba(119, 65, 32, 0.644);
	display: inline-block;
	overflow: hidden;
	z-index: 5;


	
}

#AvailableServicesContainer-ControlItems{

	list-style-type: none;
	width: auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;

	vertical-align: text-top;
	text-decoration: none;
	
}

#AvailableServicesContainer-ControlItems a{


	color: white;
	font-family: Arial, Helvetica, sans-serif;

	
	text-decoration: none;
	
}

.AvailableServicesContainer-ControlItem{
	width: fit-content;
	display: inline-block;
	margin-right: 100px;
	font-size: large;
	cursor: pointer;
}

.AvailableServicesContainer-ControlItem span{
	margin:auto;
	vertical-align: top;
	text-align: center;


}

.AvailableServicesContainer-ControlItem:hover{
	color:rgb(252, 174, 6);
}

#AvailableServicesCategoryContainer{
	float: right;
	margin: 10px;
	width: fit-content;


}

#AvailableServicesCategory{
	background-color:transparent;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	color:rgb(252, 174, 6);
	cursor: pointer;

}

.AvailableServicesContainer-ControlItemIcon{
	width: 40px;
	height: 40px;
	margin: 0;
	filter: brightness(100%);
	filter: invert(0.3);
}

#AvailableServicesContainer_Content{

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 50px;
	grid-column-gap: 10px;
	
	padding: 10px;
	align-content: center;
	overflow: hidden;
	text-align: center;
	overflow:hidden;
}


.AvailableService_Card{
	
	width: 350px;
	height: 270px;
	
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: auto;
	text-align: center;

	overflow: hidden;
	position:relative;
	box-shadow: 2px 2px 10px rgb(42, 41, 41);
	border-radius: 10px;
	cursor: pointer;
	display: grid;
	background: linear-gradient(white, wheat);
	animation: fadein 2s;

}



.ServiceBanner{
	width: 100%;
	height: 100px;
	object-fit: cover;
	z-index: 4;
	filter: brightness(30%);
	cursor: pointer;
	position:absolute;
	left: 0;
	
}

.ServiceBanner:hover{
	filter: brightness(80%);
}

.ServiceTitle{
	
	z-index: 9;
	font-size: larger;
	background-color: rgba(0, 0, 0, 0.663);
	border:1px solid white;
	color: white;
	padding: 10px;
	cursor: pointer;
	margin: auto;
	margin-top: 100px;
	margin-left: 65%;
	text-align: center;
	width: auto;
	
}

.ServiceTitleBackground{
	position: absolute;
	width: 200px;
	height: 300px;
	pointer-events: auto;
	display: grid;
	text-align: center;

}



#OfferaServiceButton{
	width: fit-content;
	
	background-color: rgb(63, 50, 48);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: lighter;
}

#OfferaServiceButton:hover{

	background-color: rgb(148, 111, 63);


}

.servicePosition{
	margin: 0;
	margin-bottom: 5px;
}
.serviceStatus{
	margin: 0;
	margin-bottom: 5px;

}

.rate{
	margin: 0;
	margin-bottom: 5px;

}

.ratings{
	margin: 0;
	margin-bottom: 5px;

}


.infoDiv{
	position:absolute;
	top:160px;
	width: 100%;
	text-align: left;
	left: 0px;
	margin: auto;
	font-size: small;
	padding: 10px;
	
}

#myServiceViewBack{

	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.561);
	display: none;
	z-index: 20;

	
}

#myServiceView{
	background-image: url("../img/coc-background.jpg");
	background-size: cover;
	margin: auto;
	width: 40%;
	height: 90%;
	background-color: white;
	z-index: 20;
	position: relative;
	border-radius: 20px;
	border: rgb(148, 111, 63) solid 4px ;

}

#myServiceViewTable{
	padding-top: 100px;
	width: 100%;
	height: 90%;
	font-family: Arial, Helvetica, sans-serif;
	display: none;

}



#myServiceViewTable td{
	border-right: 2px solid rgba(128, 128, 128, 0.207);
	border-bottom: 2px solid rgba(128, 128, 128, 0.207);
	text-align: center;
	width: 500px;
	height: 80%;
	padding: 20px;
	font-weight: bold;
	
}




#serviceTableTitle{
	font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    float: left;
    text-align: center;
    font-size: xx-large;
    margin: 0;
    padding: 10px;
}

#myServiceViewForm{
	padding-top: 100px;
	width: 100%;
	height: 90%;
	font-family: Arial, Helvetica, sans-serif;
	display: none;

}

#myServiceViewForm td{
	border-right: 1px solid rgba(128, 128, 128, 0.207);
	border-bottom: 1px solid rgba(128, 128, 128, 0.207);
	text-align: center;
	width: 500px;
	height: 80%;
	padding: 20px;

}

#myServiceViewEditButton{
	width: 20%;
	height: 50px;
	cursor: pointer;
	position:absolute;
	left: 40%;
	border-radius: 20px;
}

#editBtn{
	width: 100%;
}