/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}



/*Responder_Transactions.html*/
#TransactionsBackContainerBack{
	
width: 100%;
	
height: 100%;
	
position: relative;
	
top:110px;
	
/* background-color: rgb(243, 240, 240); */
}

#TransactionsContainer{
	
/* border: solid 1px black; */
	
height: 780px;
	
margin: 40px 20px 0px 20%;
	
/* background-color: white; */
	
/* margin-top: 0; */
	
/* margin-bottom: 0; */
	
font-family: Arial, Helvetica, sans-serif;
	
text-align: center;
	
table-layout: fixed;
	
width: 70%;
	
overflow: scroll;
	
font-size: medium;
	
border-collapse: collapse;
	
/* border-bottom: double; */
	
min-height: 900px;
}

#TransactionsContainerThead{
	color: #e95f0f;
	padding: 10px;
	font-size: large;
	/* font-stretch: expanded; */
	font-weight: bold;
	height: 100px;
}

#TransactionsContainerBody td{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px;
	font-size: medium;
	border: 1px solid black;
	border-spacing: 0px;
	/* border-collapse: collapse; */
}

#TransactionsContainerBody{
	height: fit-content;
	width: 100%;
	overflow: scroll;
	background-color: rgba(210, 202, 202, 0.184);
	display: grid;
	grid-row-gap: 10px;
	/* border-collapse: collapse; */
}

.contractAgreement{
	width: 50px;
	overflow: hidden;
}

#TransactionsNav{
	width: 250px;
	height: 450px;
	margin: auto;
	background-color: rgb(225, 223, 223);
	margin: 40px 0px 0px 20px;
	/* overflow: hidden; */
	/* padding: 5px; */
	/* display: grid; */
	position: absolute;
	transition: 1.5s;
}

#TransactionsNav td{
	display: inline;
	list-style-type: none;
	
	padding:15px;
	margin-top: 0;
	margin-bottom: 0;
	margin: 10px;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}

#TransactionsNav td:hover{

	border-bottom: 4px solid rgb(48, 30, 8);
}


#TransactionsNav tr{

	height: 50px;
	width: 100%;
	
	margin: auto;



}

#TransactionsNav tbody{
	padding-top: 10px;
}

#TransactionTypeTd{
	/* margin-right: 100px; */
	/* width: 100%; */
	/* border: none; */
	/* display: none; */
	text-align: center;
}

#TransactionTypeDropDown{
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: larger;
	/* width: 200px; */
	text-align: center;
	/* height: 100%; */
	cursor: default;
	width: 100%;
	/* transition: 1s; */
}
/*
td{
	padding: 20px;
	width: 400px;
	
}
*/

.AcceptButton{
	background-color: rgb(9, 106, 9);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	
}

.AcceptButton:hover{
	background-color: rgb(38, 194, 38);

	
}


.CancelButton{
	background-color: rgb(136, 18, 18);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	margin: 5px;
	padding: 5px;
	cursor: pointer;

}

.CancelButton:hover{
	background-color: rgb(224, 28, 28);
	

}

.DeliverButton{
	background-color: rgb(18, 75, 136);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

.DeliverButton:hover{
	background-color: rgb(19, 102, 191);
	

}

.ConfirmPaymentButton{
	background-color: rgb(18, 136, 40);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
}

.ConfirmPaymentButton:hover{
	background-color: rgb(33, 171, 58);
	

}



#paymentPopUpBack{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	background-color: rgba(32, 32, 35, 0.378);
	top: 0;
	left: 0;
	display: none;
}

#paymentPopUp{
	margin: auto;
	background-color: white;
	width: 35%;
	height: 70%;
	/* background-image: url("../img/coc-background.jpg"); */
	/* border: 5px saddlebrown solid; */
	border-radius: 5px;
}

#paymentPopUp input{
	/* width: 30%; */
	/* height: 30px; */
	/* border-radius: 5px; */
	/* font-size: 100%; */
}

#paymentPopUp input:hover{
	/* width: 30%; */
	/* height: 30px; */
	/* border-radius: 5px; */
	/* background-color: rgb(233, 154, 57); */
	/* cursor: pointer; */
}

#paymentPopUp label {
	background-color: white;
	padding: 0.5rem;
	font-family: sans-serif;
	/* border-radius: 0.3rem; */
	cursor: pointer;
	margin-top: 1rem;
	border: 1px solid black;
	/* border-radius: 5px; */
	}

  #paymentPopUp label:hover {
	background-color: rgb(233, 154, 57);
	cursor: pointer;
	margin-top: 1rem;
  }


#paymentFileOutput{
	width: 250px;
	height: 300px;
	border: 1px solid black;
	object-fit: contain;
}


#reportPopUpBack{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	background-color: rgba(32, 32, 35, 0.378);
	top: 0;
	left: 0;
	display: grid;
	align-content: center;
	display: none;
}

#reportPopUp{
	margin: auto;
	background-color: #eedbe1;
	width: 500px;
	height: 700px;
	overflow-y: scroll;
	margin-top: 20px;
	padding: 10px;
	border: #176c5c solid 5px;
	border-radius: 5px;
}


#ReportedAccountProfile{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	object-fit: cover  ;
}

#reportProofOutputBackground{
	width: 400px;
	height: 230px;
	background-color: rgba(221, 218, 218, 0.744);
	position: relative;
	display: none;
	padding: 5px;
	border-radius: 20px;
}

#reportProofOutput{
	width: 150px;
	height: 200px;
	margin: auto;
	top:20px;
	left:15px;
	border: 1px solid black;
	margin: auto;

}

#closeImage{
	position: absolute;
	right: 05px;
	top: 0;
	cursor: pointer;
	z-index: 18;
	color:rgb(7, 7, 7);
	font-weight:bolder;
	/* padding: 5px; */
}

#closeImage:hover{
	background-color: red;
	color: white;
	
}

#reportDescription{
	resize: none;
}

#otherReportType{
	display: none;
}

.isReported{
	display: none;
}

.additionalNotes{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 10px;
}



/*Feedback */


#giveFeedBackPopUpBack{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	background-color: rgba(32, 32, 35, 0.378);
	top: 0;
	left: 0;
	display: none;
}

#giveFeedBackPopUp{
	margin: auto;
	/* background-image: url("../img/coc-background.jpg"); */
	width: 30%;
	height: 500px;
	/* display: none; */
	margin-top: 100px;
	border: solid saddlebrown 3px;
	border-radius: 20px;
	background-color: white;
}

#feedbackInput{
	resize: none;
	margin: auto;
	border-radius: 10px;
}

#ButtonsDivFeedback{
	margin: auto;
	width:fit-content;
	height: fit-content;

}

#ButtonsDivFeedback input{
	margin: auto;
	width:fit-content;
	/* height: 30px; */
	border-radius: 5px;
}

#ButtonsDivFeedback input:hover{
	/* margin: auto; */
	/* width:fit-content; */
	/* height: 30px; */
	/* border-radius: 5px; */
	/* background-color: rgb(233, 154, 57); */
	/* cursor: pointer; */
}



.rate {
	margin: auto;
	
	width:fit-content;
	height: fit-content;
	font-family: Arial, Helvetica, sans-serif;
}

.rate:not(:checked) > input {
   display: none;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: 'Ã¢Ëœâ€¦';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



#reportHeader{
	height: 30%;
	width: 100%;
	/* background-image: url("../img/coc-background.jpg"); */
	/* background-size: cover; */
	/* border-radius: 10px; */
	background-color: rgb(188 181 179 / 28%);
	position: relative;
}



#reportContent label {
	background-color: white;
	padding: 0.5rem;
	font-family: sans-serif;
	border-radius: 0.3rem;
	cursor: pointer;
	margin-top: 1rem;
	border: 1px solid black;
	border-radius: 5px;

  }

  #reportContent label:hover {
	background-color: rgb(233, 154, 57);
	cursor: pointer;
	margin-top: 1rem;
  }

#reportType, #reportProof{
	font-size: x-large;
	width: 80%;
}

#reportProof{
	font-size: large;
}

.formButton{
	font-size: large;
}

#reportHeader span{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    width: fit-content;
    height: 20%;
    float: left;
    margin-left: 40%;
    overflow: hidden;
}

#ReportedAccountProfile{
	float: left;
	left: 3%;
	position: absolute;
	width: 120px;
	height: 120px;
	border: 2px solid white;
	object-fit: cover;
	border-radius: 50%;
	top: 12%;
	padding: 3;
}

.additionalNotes{
	width: 100;
	
	overflow: hidden;
	word-wrap: break-word;
	overflow-wrap: break-word;
	

}
.controlsTd{
	width: fit-content;
}


.pasabuyTransactionRow{
	height: 200px;
	width: 100%;
	margin: auto;
	text-align: center;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.103) outset;
	border-bottom: 10px;

}


.pasabuyTransactionRow td{
background-color: white;

}

.responderImagePic{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100%;
}

.productImageTransactions{
	width: 100px;
	height: 100px;
	object-fit: contain;
}



.ActionsTR{

	width: 100%;
	border-top: 5px solid black;

	


}
.ActionsTd{
	
	


}
.parentTable{
	margin: auto;
	width: 80%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.215);
	margin-bottom: 50px;
	background-color: white;

}

.tablehead{
	margin: auto;
	width: 80%;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.215);
	margin-bottom: 50px;
	background-color: white;
}

.cancelButton{
	background-color: rgb(150, 4, 4);
	color: white;
	border: none;
	padding:10px;
	border-radius: 10px;
}

.SavePaymentButton{
	background-color: rgb(6, 29, 114);
	color: white;
	border: none;
	padding:10px;
	border-radius: 10px;
}



#pasabuyPaymentPopUpBack{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	background-color: rgba(32, 32, 35, 0.378);
	top: 0;
	display: none;
}

#pasabuyPaymentPopUp{
	margin: auto;
    background-color: white;
    width: 35%;
    height: 70%;
    background-image: url("../img/coc-background.jpg");
    border: 5px saddlebrown solid;
    border-radius: 20px;
}

#pasabuyPaymentPopUp input{
	width: 30%;
	height: 30px;
	border-radius: 5px;
	font-size: 100%;

}

#pasabuyPaymentPopUp input:hover{
	width: 30%;
	height: 30px;
	border-radius: 5px;
	background-color: rgb(233, 154, 57);
	cursor: pointer;
}

#pasabuyPaymentPopUp label {
	background-color: white;
	padding: 0.5rem;
	font-family: sans-serif;
	border-radius: 0.3rem;
	cursor: pointer;
	margin-top: 1rem;
	border: 1px solid black;
	border-radius: 5px;

  }

  #pasabuyPaymentPopUp label:hover {
	background-color: rgb(233, 154, 57);
	cursor: pointer;
	margin-top: 1rem;
  }


#pasabuyPaymentFileOutput{
	width: 250px;
	height: 300px;
	border: 1px solid black;
	object-fit: contain;
}

#pasabuyPaymentProof{

}



#pasabuyGiveFeedBackPopUpBack{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	background-color: rgba(32, 32, 35, 0.378);
	top: 0;
	display: none;
	
}

#pasabuyGiveFeedBackPopUp{
	margin: auto;
	background-image: url("../img/coc-background.jpg");
	width: 30%;
	height: 500px;
	display: none;
	margin-top: 100px;
	border: solid saddlebrown 3px;
	border-radius: 20px;
}

#feedbackInput{
	resize: none;
	margin: auto;
	border-radius: 10px;
}

#ButtonsDivFeedback{
	/* margin: auto; */
	/* width:fit-content; */
	/* height: fit-content; */
}

#ButtonsDivFeedback input{
	/* margin: auto; */
	/* width:fit-content; */
	/* height: 30px; */
	/* border-radius: 5px; */
}

#ButtonsDivFeedback input:hover{
	/* margin: auto; */
	/* width:fit-content; */
	/* height: 30px; */
	/* border-radius: 5px; */
	/* background-color: rgb(233, 154, 57); */
	/* cursor: pointer; */
}

.responderProfileTransaction{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 100%;
}

.transactionInfo{
	text-align: left;
}

.paymentPic{
	width: 70px;
	height: 100px;
	object-fit: contain;
	cursor: pointer;
}


#PhotoViewerBackground{
	position: fixed;
	background-color: rgba(28, 27, 27, 0.9);
	padding: 0;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	align-content: center;
	z-index: 20;

}

#PhotoViewer{
	margin: auto;
	margin-top: 0;
	width: 90%;
	height: 100%;
	background-color: none;
	display: grid;
}



#photoViewerImage{
	width: 600px;
	height: 700px;
	object-fit: contain;
	margin: auto;
	background-color: white;
}

#TextViewerBackground{
	position: fixed;
	background-color: rgba(28, 27, 27, 0.9);
	padding: 0;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	align-content: center;
	z-index: 20;
}

#TextViewer{
	margin: auto;
	margin-top: -40;
	width: fit-content;
	height: 100%;
	background-color: none;
	display: grid;
	position: relative;
}

#textContainer{
	width: 600px;
	height: 700px;
	object-fit: contain;
	margin: auto;
	background-color: white;
	text-align: center;
	border: 1px solid black;
	margin-top: 100px;
}


.grid-container {
	display: grid;
	background-color: #2196F3;
	padding: 10px;
	grid-template-rows: 20px 10px 10px 10px 10px 10px 10px;
	row-gap: 40px;

}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	font-size: medium;
	text-align: center;
	cursor: pointer;
	display:flex;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.navIcon{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	vertical-align:middle;
	object-fit:contain;
	
}

.sideNav-text{
	vertical-align:bottom;	
	
}

.grid-item:hover{
	color: #176c5c;
}


.item1 {
	 grid-area: header; 
	
}
.item2 {

grid-area: menu;

cursor: pointer;

max-width: 300px;

/* height: 170px; */
}
.item3 {
	display: grid;
	grid-template-columns: auto auto;
	grid-area: main;
	cursor: pointer;
}
.item4 {
	grid-area: right;
	text-align: right;
	padding: 10px;
}
.item5 { 
	grid-area: footer; 
}

.grid-container2 {

display: grid;

grid-template-areas:


'header header header header header header'


'menu main main main right right'


'menu footer footer footer footer footer';

gap: 1.5px;

background-color: #176c5c;

padding: 5px;

border-radius: 5px;
}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  /* padding: 20px 0 0 0; */
  font-size: 30px;
}
.transactionsContentContainer {
    width: 70%;
    margin: 40px 20% 50px 20%;
}

.grid-header {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: #2196F3;
	padding: 10px;
	grid-area: header;
	}
  .header-item {
	/* background-color: rgba(255, 255, 255, 0.8); */
	/* border: 1px solid rgba(0, 0, 0, 0.8); */
	/* padding: 20px; */
	font-size: 30px;
	text-align: center;
	}
	.grid-footer {
		display: grid;
		grid-template-columns: auto auto auto;
		background-color: #2196F3;
		padding: 20px 0 0 10;
		grid-area: footer;
		}
	  .footer-item {
		/* background-color: rgba(255, 255, 255, 0.8); */
		/* border: 1px solid rgba(0, 0, 0, 0.8); */
		/* padding: 20px; */
		font-size: 30px;
		/* text-align: center; */
		}
div#requestTitle {
    font-weight: bold;
}
div#requestID {
    font-size: medium;
    float: left;
    text-align: left;
    padding-left: 20px;
}
img#responderImage {
    border-radius: 50%;
}
div#requestPrice {
    color: red;
    /* padding: 5% 0 0 0; */
}
div#requestDescription {
    font-size: large;
}
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 3px;
	}

div#requestDate {
    color: gray;
    font-size: medium;
}
#requestDate p {
    padding: 0;
    margin: 0;
    text-align: left;
}
#requestStatus{
	color: gray;
}
#imgContainer{
	border-radius: 50%;
}
#Cancel{
	background-color: #f32121;
}
div#actionButton {
    float: right;
    text-align: right;
    padding: 0 10 0 0;
}
div#responderEmail {
    width: 200px;
    font-size: medium;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
}

p.Description {
    width: 500px;
    margin: auto;
    text-align: left;
    margin-top: 10px;
    height: -webkit-fill-available;
}

button.red{
	background-color: #f32121;
}
.Description {
    margin: auto;
}
.hideMenu{
	display: none;
}


@media (min-width: 220px) and (max-width: 555px){
	#TransactionsNav{
		margin: 0px 0 0 -270px;
	}
	#TransactionsContainer{
		margin: auto;
		width: 100%;
		height: fit-content;
		zoom: 50%;
	}
	div#requestPrice{
		zoom: 110%;
	}
	#PhotoViewer{
		zoom:80%;
	}
	#reportPopUp{
		width: 90%;
		
	}
}