/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}

@keyframes fadein {
	from{opacity:0;} to{ opacity: 100%;}
}

/*General Format */

body{
	padding: 0;
	margin: 0;
	zoom: 75%;
	display: grid;
	background-color: white;
	background-size: contain;
	/* background-position: center; */
	background-attachment: fixed;
	background-repeat: round;
	background-image: url(../img/fda.jpg);
}

#BodyBackgroundImg {
	width: 100%;
	position: absolute;
	overflow: hidden;
	object-fit: cover;
	height: 100%;
	opacity: 99%;
	display: none;
}

a{
	text-decoration: none;
}

/* For sliders */

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #64c8fa;
	}
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }


/*Nav */
.RequestsContainer-ControlItemIcon{
	width: 40px;
	height: 40px;
	margin: 0;
	filter: brightness(100%);
	filter: invert(0.3);
}

.navControlSelected{
	color:black;
}

/*Scroll bars*/
*::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	/* z-index: 1; */
	}
   
  *::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); */
	}
   
  *::-webkit-scrollbar-thumb {
	background-color: #c4c5c75e;
	outline: 1px solid #708090bd;
}


/* number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.asteriskRequiredField{
	color: red;
	cursor: pointer;
	margin: none;
	float: right;
}



#closeButton:hover{
	background-color: red;
	border-radius: 10px;
	color: rgb(83, 63, 63);
	cursor: default;
}

div#closeButton {
    width: fit-content;
    padding: 10px;
    margin-left: 90%;
    font-size: xx-large;
    font-weight: bold;
    background-color: #eedbe1;
}



.closeButton:hover{
	background-color: rgba(233, 22, 22, 0.701);
	border-radius: 10px;
	color: rgb(83, 63, 63);

}


ul{
	text-decoration: none;
	list-style-type: none;
	/* margin: auto; */
	padding: auto;
	padding-inline-start: 0;
}


.reviewCard{
	/* background-color: bisque; */
	/* border-radius: 10px; */
}
button#hideMenu {
    display: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.sideMenu{
	display: none;
}

@media (min-width:220px) and (max-width: 555px) {
  /* For mobile phones: */
  button#sideMenu{
	display: unset;
	}
	.sideMenu{
	position: absolute;
	left: 0;
	top: 9%;
	z-index: 100;
	height: 50px;
	width: fit-content;
	margin-left: -5px;
	transition: ease 1.5s;
	z-index: 9;
	}
	button#hideMenu {display: unset;float: right;margin: auto;height: 100%;}

	body{
		background-repeat: no-repeat;
		background-size: cover;
	}
}


#BodyBackgroundImg{
	display:none;
}


/*for loading screens*/
#LoadingScreen{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
    display: none;
    text-align: center;

}

#loadingText{
    margin: none;
    font-family: Arial, Helvetica, sans-serif;
}


#loadingImage{
    width: 300px;
    height: 300px;
    margin: auto;
    z-index: 50;
}

#loadingDiv{
    margin: auto;
}


#ProcessingScreen{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 90;
    background-color: white;
    display: none;
    text-align: center;

}


.buttonGeneral {
	background-color: #1491ea;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 3px;
}

.buttonGeneral:hover {
	background-color: rgb(234, 231, 231);
	color: #3a4b9a;

}


.buttonGreen {
	background-color: #3a4b9a;
	/* border: none; */
	color: white;
	padding: 2px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 3px;
	font-size: xx-large;
	float: right;
}

.buttonGreen:hover {
	background-color: rgb(234, 231, 231);
	color: #1491ea;
}