body{
    background-color: #3a2719e8;
}

#viewUserProfileTable{
    width: 100%;

}

#userNameAndType{
    margin: 10px;
}

#userName{
    font-size: 50px;
}

#userType{
    font-size: 25px;
}

#userNav{
    width:25%;
    height: 50px;
    text-align: center;
    border: 1px solid black;
    
}

#userNav:hover{
    background-color: wheat;
    cursor: default;
}


#postContainer{
    display: none;
    height:fit-content;
    background-color: wheat;
}

#aboutContainer{
    display: none;
    height:fit-content;
    background-color: wheat;
}

#reviewContainer{
    display: none;
    height:fit-content;
    background-color: wheat;
}

#moreContainer{
    display: none;
    height:fit-content;
    background-color: wheat;
}









#viewUserProfileContent{
    position:absolute;
    width: 80%;
    height: fit-content;
    display: grid;
    top:15%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

#userImageContainer{
    border : white 2px solid;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    margin: 30px;
    position: relative;
    float: left;
}

#userImageContainerTd{
    width:10%;
}

#messageMe{
    overflow: hidden;
    float: right;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    
    margin: auto;
    font-family: Georgia;
    top:5px;
}

#userName{
    position: relative;
    float: left;
    overflow: hidden;

}



