#DashBoardContent{
  
    width:100%;
    height: 100%;
    position: absolute;
    top: 100px;
    z-index: 1;

  
    display: grid;
    align-content: center;

    overflow-y: auto;
    
}

.grid-container p{
  font-size: xx-large;
  font-weight: bold;
  font-family: sans-serif;
}

#DashBoardContent_Table{
    position: relative;
    top: 50px;
    width: 90%;
    height: fit-content;
    min-height: 500px;
    margin: auto;
   
    overflow-y: scroll;
    position: absolute;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    left: 50%;
    transform: translate(-50%, 0);
}

#DashBoardContent_TableBody{
    width: 90%;
    height: fit-content;
    min-height: 500px;
}

#DashBoardContent_TableBody td{
    width: fit-content;
    height: fit-content;
    min-height: 200px;
    padding: 10px;
}

#DashBoardContent_Table tr{
  cursor: pointer;
   
}

#DashBoardContent_Table tr :hover{
  
     
  }

.userPhotoImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    background-color: gray;
}

@keyframes loading {
    from{    
        transform: rotateY(0);
    }to{  
        transform: rotateY(180deg);
    }
}

#loadingImage{
    width: 200px;
    height: 100px;
    margin: auto;
    animation: loading 1s infinite;
    animation-direction: alternate;
    display: none;
    cursor: progress;

}

.idFileImage{
    width: 200px;
    height: 100px;
    object-fit: contain;
    background-color: gray;
}

.otherIDFileImage{
    width: 100px;
    height: 50px;
}

.acceptButton{
    background-color: rgb(15, 88, 15);
    color: white;
    height: 40px;
    width: 60px;
    cursor: pointer;
}

.acceptButton:hover{
    background-color: rgb(5, 186, 5);

}

.cancelButton{
    background-color: rgb(112, 17, 17);
    color: white;
    height: 40px;
    width: 60px;
    cursor: pointer;

}
.cancelButton :hover{
    background-color: rgb(209, 22, 22);


}

.userControls{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;

    align-content: center;
}

.userControls:hover{
 
}

.reportEvidence{
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.reportSeeMore{
    margin: 10px;
    background-color: blue;
    color: white;
    width: 100px;
    display: block;
    cursor: pointer;

}

.sendNotification{
    margin: 10px;
    background-color: rgb(208, 114, 21);
    color: white;
    width: 100px;
    display: block;

    cursor: pointer;



}

.Suspend{
    margin: 10px;
    background-color: red;
    color: white;
    width: 100px;
    display: block;

    cursor: pointer;


}


/*report actions*/
#restrictFormBack{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.309);
    display: grid;
    display: none;
    z-index: 25;
}

#restrictForm{
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 25;

}

#BanFormBack{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.309);
    display: grid;
    display: none;
    z-index: 25;

}

#banForm{
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 25;

}


#sendNotificationFormBack{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.309);
    display: grid;
    display: none;
    z-index: 25;

}

#NotificationForm{
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 25;


}


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #ff4500;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  /* font-size: 30px; */
}


/* new */

/*
#usersContainer{
    width: 30%;
    FONT-WEIGHT: 100;
    margin: auto;
    height: 500px;
    float: left;
    position: absolute;
    left: 10%;
    top: 20%;
    background-image: url("../../img/coc-background.jpg");
    border-radius: 20px;
}
#usersContainer span{
    height: 250;
}
*/

.grid-content {
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

#DashBoardContent_TableHead{
    height: 100px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
    margin-bottom: 50px;
}

td{border: none;}

#DashBoardContent_TableBody tr{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.191);
}


#viewImageBack{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.413);
    display: grid;
    align-content: center;
    z-index: 50;
}

#viewImageForm{
    margin: auto;
    width: 80%;
    height: 90%;
    background-color: aliceblue;
}

#viewImage{
    width: 800px;
    height: 900px;
    object-fit: contain;
    border: 1px solid rgba(128, 128, 128, 0.31);
    margin: auto;
}