/*Local Font Styles */


@font-face {
	font-family: "OPTICopperplate-Heavy";
	src: url("../fonts/OPTICopperplate-Heavy.otf");

}

@font-face {
	font-family: "Retroking";
	src: url("../fonts/Retroking.ttf");

}

@font-face {
	font-family: "Palatino Linotype";
	src: url("../fonts/Palatino Linotype.ttf");

}


@font-face {
	font-family: "brush script mt kursiv";
	src: url("../fonts/brush script mt kursiv.ttf");

}



/*Login.html*/

#LoginBody{
	
	padding: 0;
	margin: 0;
	
	display: grid;

	
	width: 100%;
	height: 100%;
	
	background-color:#ff5414;

	/*background-image: url("../img/3065.jpg");*/

  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;

	align-content: center;
	zoom: 85%;
}

#Logo{


	position: absolute;
    z-index: 2;
    margin-top: 40px;
    margin-left: 40px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-align: center;
    line-height: 40px;
    zoom: 130%;




}

#Micro{
	font-family: Retroking;
	font-size: 70px;
	text-align: center;
	color: rgb(255, 255, 255);
	margin:10px;

	
}

#Quest{
	text-align: center;
	margin: 10px;	
	font-size: 40px;
	text-indent: 0px;
	color: rgb(255, 255, 255);

	font-family:OPTICopperplate-Heavy;

	display:inline-block;

}





#LoginForm{

	z-index: 6;
	background-color:rgb(255, 255, 255);
	

	/*
	margin-top: clamp(7%,10%,15%);
	*/
	margin: auto;
	
	width: 350px;
    height: 500px;
	color:#ff5414;
	font-size: 25;
	
	vertical-align: bottom;
	border-radius: 20px;


}







#FormControls{
	text-align: left;
	width: fit-content;
	margin: auto;
	color: #ff5414;
	font-weight: bold;
	font-size: medium;
	font-family: Arial, Helvetica, sans-serif;
	
}

.Form-Input{
	/*border: 1px solid white;
	height: 40px;
	width: 250px;
	background-color:rgb(52,42,41);
	color: white;*/
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

#FormControls-Buttons{

	height: fit-content;
	text-align: right;
}

.LoginForm-button{
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-family:'Times New Roman', Times, serif;
	font-size: large;
	cursor: pointer;
	
}

#LoginButton{
	color: white;
	font-size: 20px;
	padding: 10px;
	background-color: #ff5414;
	border-radius: 10px;
	
}

#CancelButton{
	color: white;
	font-size: 20px;
	padding: 10px;
	background-color: #cd1414;
	border-radius: 10px;
}
#RegisterButton{
	color: rgb(228, 176, 81);
	cursor: pointer;
}

#Welcome{
	font-weight: light;
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
}
#Back{
	margin-top: 0;
	font-weight: light;
	font:palatino linotype;
	font-family: 'Courier New', Courier, monospace;
}



