/*Nav Bar*/




#NavBar{

	position: absolute;
	width: 99.9%;
	color: white;
	padding-top:0;


	background-color: rgb(65, 46, 34);
	
	height: 60px;
	display: grid;
	top:0;
	z-index: 4;
	border: none;


	


}

#NavBar_Contents{

	margin: 0;

	border: 1px solid black;
	padding-left: 2px;
	padding-right: 2px;

}

#adminName{

	cursor: pointer;
}

.navItem{
	

	font-family: Arial, Helvetica, sans-serif;
	

	color: white;
	text-decoration: none;

	list-style-type: none;
	padding: 2px;
	margin: auto;


}



#HamburgerContainer{
	width: 90px;
	height: 50px;
	margin: 0;
	margin-left: 0;
	float: left;
	
	margin-top: 0;
	cursor: pointer;
	z-index: 5;
	
	padding: 2px;
	margin: auto;
}

#HamburgerButton{

	/*border: 1px solid white;*/
	height: 35px;
	width: 35px;
	margin: 0;
	display: grid;
	grid-row-gap: 1px;
	padding:8px;
	cursor: pointer;

	
	
}
#HamburgerButton:hover{
	background-color: rgba(200, 125, 13, 0.24);
	border-radius: 10px;
	
}

.HamburgerButton_Div{

	background-color: gray;
	height: 3px;
	width: 100%;
	margin: auto;
	opacity: 50%;
	cursor: pointer;
	
	
}

.HamburgerButton_Div:hover{

	
	height: 3px;
	width: 100%;
	margin: auto;
	opacity: 50%;
	
	
}

#adminName{
	float: right;
	margin: auto;
	margin-right:10px;
	
	padding: 5px;
	width: fit-content;
	min-width: 100px;
	margin-top: 0;
	
	
}

#adminName:hover{
	background-color: rgb(116, 60, 28);
	border-radius: 20px;
}

#Nav-Logo{
	width: 80px;
	height: 40px;

	float: left;
	

	cursor: pointer;
	z-index: 5;
	margin-top: 5px;
}

#adminPhoto{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	object-fit: contain;
	border: 2px solid black;
	margin-right: 5px;
	background-color: white;
}


#profileDropdown{
	width: 200px;
	height: 110px;

	position:fixed;
	float: right;
	top:43px;
	right: 6px;
	color: black;
	z-index: 5;
	text-align: center;
	padding: 10px;
	list-style-type: none;
	border-radius: 10px;
	background-color: rgb(113, 59, 25);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: larger;

	display: none;

}
#profileDropdown li{
	margin: 10px;
	cursor: pointer;
	padding: 10px;
}

#profileDropdown a{
	text-decoration: none;
	color:white;
	font-weight:bold;
}

#profileDropdown li:hover{
	background-color: rgb(158, 80, 32);
}


/*Nav menu*/

#NavMenu table tr{
	width: 300px;
}

#NavMenuLogoContainer{
	width: 200px;
	display:grid;
	align-content: center;
}

#NavMenuLogo{
	width: 80px;
	height: 40px;
	cursor: pointer;
	z-index: 5;
	margin: auto;
	margin-top: 10px;
}

#NavMenu_Contents{
	list-style-type: none;
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	margin-top: 100px;
	margin-left: 0;
}

#NavMenu_Contents li {
	margin-top: 40px;
	cursor: pointer;
	padding: 30px;
}

#NavMenu_Contents li:hover {
	background-color: rgb(113, 59, 25);

}


/*animations*/
@-webkit-keyframes slide {
	from {left:-500}
	to {left:0;}
}

@-webkit-keyframes slideback {
	from {left:0}
	to {left:-500;}
}


#NavMenu{
	position: fixed;
	left:-600;

	z-index: 5;

	background-color: rgb(69, 36, 16);
	width: 300px;
	display: block;

	min-height: 100%;
	height: auto !important;
	height: 100%;
	


	
}

